		.Alert {
			position: absolute;
			border:  solid 1px grey;
			padding: 5px;
			overflow: hidden;
			visibility: hidden;
			font-family: serif, Georgia;
			font-size: 15pt;
			color: black;
			opacity: 0.95;
		}
		
		.Alert .icon {
			visibility: inherit;
			padding-top: 7px;
		}
		
		.Alert .content {
			padding: 7px;
			visibility: inherit;
			overflow-x: hidden;
			overflow-y: auto;
			text-align: left;
		}

		.Alert .control {
			text-align: right;
			visibility: inherit;
			position: absolute;
			width: 100%;
			font-family: sans-serif, arial;
			font-size: 10pt;
		}

		.Alert h1 {
			font-size: 20pt;
			padding: 0px;
			margin: 0px;
			font-weight: 100;
			font-style: normal;
		}
		.Alert h4 {
			font-size: 14pt;
			font-family:'Georgia','Serif';
			font-style: normal;
			padding: 0px;
			margin: 0px;
		}

		.AlertCurtain {
			opacity: .5;
			filter: alpha(opacity=50);
			background: white;
		}
