/** Fonts **/
@font-face {
    font-family: 'DosisRegular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#DosisRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DosisLight';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/dosis-light-webfont.ttf') format('truetype'),
         url('../fonts/dosis-light-webfont.svg#DosisLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DosisBold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-bold-webfont.svg#DosisBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/nunito-bold-webfont.eot');
    src: url('../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../fonts/nunito-bold-webfont.svg#NunitoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoLight';
    src: url('../fonts/nunito-light-webfont.eot');
    src: url('../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito-light-webfont.ttf') format('truetype'),
         url('../fonts/nunito-light-webfont.svg#NunitoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../fonts/nunito-regular-webfont.eot');
    src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-regular-webfont.woff') format('woff'),
         url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('../fonts/nunito-regular-webfont.svg#NunitoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** general Styles ***/
body {font-family: 'NunitoRegular',"Lucida Grande", sans-serif;}

#wrap {min-width: 960px; width: 100%;postion: relative; 	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -353px;}
.header-wrap {background: #383B3E; height: 30px; border-bottom: 1px solid  #000;}
header {max-width: 960px; margin: 0 auto;}

/*** credentials ***/
#credentials {float:right; margin: 6px 0 0;}
#credentials ul li {float: left; padding-left: 10px;}
#credentials ul li a:link, #credentials ul li a:visited {color: #999; font-size: 14px; text-decoration : none;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; }
#credentials ul li.login a:link, #credentials ul li.login a:visited {background: url(../images/lock.png) top left no-repeat;
padding-left: 20px; border-right: 1px solid #999; padding-right: 10px;}
#credentials ul li a:hover, #credentials ul li a:active {color: #fff;}

/*** Social media ***/
.social-media {float: right; margin-right: 30px; position: relative; z-index: 1;}
.social-media ul li {float: left; margin-left: 7px;}
.social-media ul li a {display: block; height: 20px; width: 20px; text-indent: -2000px; overflow: hidden; 
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
			background:url(../images/test.png) top left no-repeat;
}
/*.social-media ul li.facebook a  {background-position: 0 0;}
.social-media ul li.twitter a {background-position: -27px 0;}
.social-media ul li.linkedin a {background-position: -54px 0;}
.social-media ul li.youtube a {background-position: -80px 0;}
.social-media ul li a:hover {background:url(../images/social-media-hover.png) top left no-repeat;}
.social-media ul li.facebook a:hover {background-position: 0 0;}
.social-media ul li.twitter a:hover {background-posotion: -27px 0;}
.social-media ul li.linkedin a:hover {background-position: -54px 0;}
.social-media ul li.youtube a:hover {background-position: -80px 0;}*/

.social-media ul li.facebook a  {background-position: 0 0;}
.social-media ul li.facebook a:hover {background-position: -32px 0;}
.social-media ul li.twitter a {background-position: 0 -32px;}
.social-media ul li.twitter a:hover {background-position: -32px -32px;}
.social-media ul li.linkedin a {background-position: 0 -64px;}
.social-media ul li.linkedin a:hover {background-position: -32px -64px;}
.social-media ul li.youtube a {background-position: 0 -96px;}
.social-media ul li.youtube a:hover {background-position: -32px -96px;}


/*** Logo ***/
#logo {float: left; height: auto; margin-left: -8px;}
#logo img {width: 100%; height: auto;}


/*** Nav ***/
#nav-wrapper {background:url(../images/nav-bg.png) top left repeat; border-top: 1px solid #868485; height: 100px;}
nav {max-width: 960px; margin: 0 auto;}
.menu {float: right; margin-top: 35px; position: relative; z-index: 1;}
.menu li {float: left; text-align: center; margin-left: 8px;}
.menu li.home a:link, .menu li.home a:visited {height: 18px; width: 20px; margin-top: -2px; overflow: hidden; text-indent: -1000px; display: block; background: url(../images/home.png) top left no-repeat;}
.menu li.home a.selected {background: url(../images/home-selected.png) top left no-repeat; margin-top: -10px;}

.menu a:link, .menu a:visited {padding: 10px; font-family: NunitoBold; color: #fff; font-size: 14px; text-decoration: none; text-transform: lowercase;}
.menu a:hover, .menu a:active, .menu a.selected {text-shadow: 1px 1px 0 #333; color: #fcfcfc; background-color: #009FB4;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;} 
.menu a.selected {cursor: default;}


/** Slider ***/
.slider-wrapper {background: #E6E6E6;}
.slider {max-width: 960px; margin: 0 auto;}

/*** Footer ***/
.footer-wrap {height: 353px; background: url(../images/footer-bg.png) bottom left repeat-x;}
footer {width: 960px; margin: 0 auto;}
footer h3 {font-size: 14px; font-family: "NunitoBold"; color: #f5f5f5;}
footer .newsletter {padding-top: 25px;}
footer .newsletter p {font-family: "NunitoLight"; color: #999; font-size: 13px; margin: 11px 0;}
footer .textfield {width: 300px; float: left; margin-right: 10px;}
footer .btn {float: left;}
footer .site-map {padding-top: 42px;}
footer .site-map ul li a {text-transform: uppercase; color: #999; font-weight: normal; font-family: "NunitoRegular"; font-size: 13px; text-decoration: none;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}
footer .site-map ul li a:hover {color: #fff;}
footer .site-map ul li:first-child {border: none;}
footer .site-map ul li {margin-bottom: 6px; padding-top: 10px; border-top: 1px solid #6e7072;}
footer .site-map ul {float: left; width: 140px; margin-right: 40px;}
footer .site-map section {float: left; margin-right: 40px;}
footer .site-map .title {margin-bottom: 5px; color: #999; font-weight: normal; font-size: 13px; padding: 10px 0; text-transform: uppercase; border-bottom: 1px solid #6e7072;}
footer .site-map section ul li {margin: 0 0 4px 0; padding: 0; border: none;}
footer .site-map section ul li a {text-transform: lowercase; font-size: 12px; font-family: "NunitoLight";}
footer .site-map section.help {width: 220px;}
footer .site-map section.help ul {width: 220px;}
footer .site-map section.help ul li {float: left; margin-right: 20px;}
footer .copyright {padding-top: 52px;}
footer .copyright p {float: left; font-size: 13px; font-family: "NunitoLight"; color: #777;}
footer .copyright p img {margin-top: -2px;}
footer .copyright img:hover {opacity: 0.6; filter:alpha(opacity=60);}
footer .copyright p + p {float: right; font-family: "NunitoRegular";}

/*** Container and content ***/
.container {background: url(../images/container.png) top left repeat-x; padding-top: 3px; padding-bottom: 336px;}
.content-wrap {background:url("../images/content-wrap.png") repeat scroll left top; padding-bottom: 30px; margin-bottom: -16px;}

.content  {max-width: 960px; margin: 0 auto; padding-top: 32px;}
.content h1 {font-size: 30px;}
.title {font-size: 25px; font-family: "NunitoBold"; color: #282828; margin-bottom: 20px;}
.title span  {color: #009FB4; margin-right: 10px;}
.side-menu {width: 300px; float: left;}

.navigation {margin-left: -25px;margin-bottom: 20px; margin-top: 20px;}
.navigation .top {height: 42px; width: 300px; background:url("../images/nav-list-top.png") repeat scroll left top;}
.navigation .bottom {height: 42px; width: 300px; background:url("../images/nav-list-bottom.png") repeat scroll left top;}
.navigation .middle {width: 302px; background:url("../images/nav-list.png") repeat-y scroll left top;}
.navigation .middle ul {width: 220px; padding-left: 38px;}
.navigation ul li {border-top: 1px solid #ccc; margin-top: 4px;}
.navigation ul li:first-child {border-top: none; margin-top: 0;}
.navigation ul li a:link, .navigation ul li a:visited {font-family: "NunitoBold"; font-size: 15px; color: #383B3E; padding: 8px 0 6px 6px; text-decoration: none;
display: block; margin-top: 4px;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}
.navigation ul li:first-child a {margin-top: 0;}
.navigation ul li a:hover, .navigation ul li a:active {color: #A34180; background: #FFDD17;}
.navigation ul li a.selected {color: #A34180; background: #FFDD17; cursor: default;}

.navigation .middle ul.submenu {padding-left: 20px; width: auto; margin: 4px 0 6px 0;}
.navigation .middle ul.submenu li {border: none; margin: 0;}
.navigation .middle ul.submenu li a:link, .navigation .middle ul.submenu a:visited {font-size: 13px; font-family: "DosisRegular"; padding: 2px 0 2px 4px;}

/*** Editorial ***/
.editorial {width: 625px; float: right;}
.dashboard {color: #383B3E; font-family: "NunitoLight"; font-size: 18px;}
.info {color: #282828; font-family: "NunitoLight"; font-size: 16px;}
.table-design {margin: 10px 0; background:url("../images/table-bg.png") repeat scroll left top;border: 1px solid #B4B4B4; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; padding: 8px;}
table th {text-align: left; text-transform: uppercase; font-size: 16px; color: #282828; padding: 10px 0; border-bottom: 1px solid #B2B2B2;}
table td {padding: 8px 0 4px 0;}
table td a {font-family: "NunitoLight"; text-decoration: none;}
table .separator {color: #009FB4; margin: 0 5px;}

.image {background: #fff; border: 1px solid #B4B4B4;  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
text-align: center;}
.listing {clear: both; padding: 10px 0 40px 0; display: inline-block; width: 100%; margin-bottom: 3px;}
.listing .image {width: 130px; height: 130px; float: left; margin-right: 30px;}
.listing-info {float: left; width: 460px;}
.listing h2 {color: #282828; font-size: 16px; margin-bottom: 4px; text-transform: uppercase;}
.listing .info {line-height: 1.3em;}
.listing .btn {margin-top: 8px;}

.documentation {cursor: pointer; text-align: center; width: 190px; height: 280px; margin-right: 18px; float: left; margin-top: 40px;}
.documentation:hover {opacity: 0.6; filter:alpha(opacity=60);}
.documentation h2 {text-transform: uppercase; margin: 8px 0 4px 0;}
.documentation .image {background:url("../images/table-bg.png") repeat left top; width: 190px; height: 190px;}
.documentation .info {font-size: 13px; font-family: "NunitoLight"; line-height: 1.3em;}
.documentation.selected {cursor: default; }
.documentation.selected:hover {opacity: 1; filter:alpha(opacity=100);}
.documentation.selected .image {background: #fff; border-color: #009FB4;}
.documentation.selected h2 {color: #009FB4;}

.benefit {width: 425px; float: left;}
.benefit .image {width: 425px; height: 170px; margin-bottom: 14px;}
.benefit h2 {margin: 0 0 4px 0;}
.benefit .info {line-height: 1.3em;}
.row {display: inline-block; width: 100%; clear: both; border-bottom: 1px solid #bfbfbf; padding: 30px 0;}
.row .benefit {margin-right: 20px;}
.row .benefit + .benefit {margin-right: 0; float: right;} 
.row.last {border: none;}

.feature {display: inline-block; clear: both; margin-bottom: 25px; padding-bottom: 35px; background:url("../images/feature-sep.png") no-repeat bottom left; }
.feature .image {background: none; width: 465px; height: auto; border: none; padding-top: 20px;}
.feature .image.fl {margin-right: 20px;}
.feature .image.fr {margin-left: 20px;}

.feature .title {width: 475px;}
.feature .section {margin-bottom: 22px; width: 440px; margin-left: 26px;}
.feature h2 {font-size: 16px; margin-bottom: 2px;}
.feature .info {line-height: 1.3em;}
.feature .btn {margin-top: 20px;}

.feature.last {background: none;}

/** General styles ***/
.border {border: 1px solid #bfbfbf; margin: 40px 0; display: inline-block; width: 100%; height: 0;}
.fr {float: right;}
.fl {float: left;}
.fnt18 {font-size: 18px;}
.marB20 {margin-bottom: 20px;}
.textfield {border: 1px solid #B4B4B4; background: #fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.textfield input[type="text"] {border: none; background: none; padding: 7px 4px; width: 98%; color: #999;}

.btn { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
background: #8c8c8c; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #8c8c8c 0%, #b2b2b2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(99%,#b2b2b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #8c8c8c 0%,#b2b2b2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-8 */
}
.ie9 .btn {filter: none;}
.btn input[type="submit"] {background: none; border: none; padding: 6px 12px; text-align: center; text-transform: uppercase; font-size: 16px; font-weight: bold; color: #fff;
-moz-text-shadow: 1px 1px 0 #767779;
-webkit-text-shadow: 1px 1px 0 #767779;
text-shadow: 1px 1px 0 #767779;
-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}

.btn:hover input[type="submit"] {background: #009FB4;
-moz-text-shadow: 1px 1px 0 #000;
-webkit-text-shadow: 1px 1px 0 #000;
text-shadow: 1px 1px 0 #000;}