/* DocViewer */
.curtain {
	position: fixed;
	background: #444;
	opacity: .3;
	z-index: 60;
}


.DocViewer {
	display: table;
	
	background: white;
	border: 1px solid #777;
	
	position: fixed;
	overflow: hidden;
	opacity: .93;
	
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.5);

	padding: 10px;

	z-index: 61;
}

.DocViewerContent {
	display: table-row;
	width: 100%;
}

.DocViewer .previous {
	display: table-cell;
	width: 45px;
	background: url('images/leftarrow-grey.png');
	background-repeat: no-repeat;
	background-position: center;
}

.DocViewer .disabledNavigation {
	display: table-cell;
	width: 45px;
	background: none !important;
}

.DocViewer .next {
	display: table-cell;
	width: 45px;
	background: url('images/rightarrow-grey.png');
	background-repeat: no-repeat;
	background-position: center;
}

.DocViewerContent .previous:hover {
	background: url('images/leftarrow-black.png');
	background-repeat: no-repeat;
	background-position: center;
}

.DocViewerContent .next:hover {
	background: url('images/rightarrow-black.png');
	background-repeat: no-repeat;
	background-position: center;
}

.DocViewer .content {
	display: table-cell;
}

.DocViewer .innerContent {
	display: table;
	height: 100%;
	width: 100%;
}

.DocViewer .content .top {
	display: table-row;
	height: 50px;
}

.DocViewer .content .top .type {
	position: relative;
	top: -7px;
	display: inline-block;
	font-size: 1.2em;
	color: #fff;
	background: #444;
	padding: 7px;
	opacity: .9;
	width: 114px;
	text-align: center;
				
	font-weight: bold;
			
	padding: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
	
.DocViewer .content .top .label {
	font-size: 3em;
	display: inline-block;
	margin-left: 20px;
}

.DocViewer .content .middle {
	display: table-row;
}

.DocViewer .content .middle img {
}

.DocViewer .content .middle .description {
	font-size: 1.2em;
	margin-left: 10px;
	overflow-y: auto; overflow-x: hidden;
	height: 300px;
}
.DocViewer .content .middle .description p {
	margin-bottom: 0em;
	margin-top: 1.2em;
}
		
.DocViewer .content .bottom {
	display: table-row;
	height: 50px;
	text-align: right;
}
