html, body {
	background-image: url('../images/blurry-lights-clouds.png');
	background-position: 0px -110px;			

	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	border: 0px;
	height: 100%;
	overflow: hidden;
}

.Alert {
	background: #999999;
}

.appTitle {
	position: absolute; 
	left: 920px; 
	top: 43px;
	font-family: sans-serif; 
	font-size: 2em;
	color: #000099;
}

.Alert .content {
	color: white;
	font-family: sans-serif;
	font-size: .7em;
}

.devConsoleBackground {
	position: absolute;
	height: 472px;
	width: 1150px;
	left: 50px;
	top: 90px;

	background: #eeeeff;
	opacity: .45;
	
	border: solid 5px #ddddee;
	
	overflow: hidden;
	
	font-family: monospace;
}

.devConsole {
	position: absolute;
	height: 472px;
	width: 1150px;
	left: 50px;
	top: 90px;

	font-family: sans-serif;
	font-size: .9em;
	
	overflow-x: auto;
	overflow-y: hidden;
}


.devConsole .hStackable {
	position: absolute;
	overflow: hidden;
	height: 450px;
	top: 5px;

	margin-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.95;
}

.devConsole .verticalList {
	width: 160px;

	background: #f5f5f5;
	color: #333333;
}

.devConsole .wide {
	width: 320px;
}

.devConsole .panel {

	background: #f5f5f5;
}

.devConsole .verticalList .vScrollable {
	overflow-y: auto;
	overflow-x: hidden;					
	height: 95%;
}

.devConsole .verticalList .item {
	height: 45px;
	position: relative;
	top: 12px;
	padding-left: 15px;
	border-bottom: solid 0px #aaaaaa;
	overflow: hidden;
	
	cursor: pointer;

	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;

	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;

    -o-border-radius: 5px;
	
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;

}

.devConsole .verticalList .itemMouseOver {
	background: #898989;
}

.devConsole .verticalList .itemSelected {
#				background: #ff8833;
#				color: white;

	background: #8888EE;
#				color: #333333;

#				background: #444444;
	color: white;
}

.devConsole .verticalList .item .icon {
	float: left;
}

.devConsole .verticalList .item .icon img {
	position: relative;
	top: 2px;
	height: 40px;
}

.devConsole .verticalList .item .iconDelete {
	float: left;
}

.devConsole .verticalList .item .iconDelete img {
	position: relative;
	top: 15px;
	height: 17px;
}

.devConsole .verticalList .item .label {
	position: relative;
	top: 15px;
	width: 85px;
	float: left;
	padding-left: 10px;
}

.logo {
	color: #111199;
	font-size: 2em;
	font-family: 'Arial Rounded MT Bold';
	font-weight: normal;
}

.homePanel {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
}

.homePanel h2 {
	font-family: sans-serif;
	font-size: 2em;
	color: #111199;
}

.homePanel p {
	font-family: sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	
}

.homePanel .highlight {
	color: #ff8833;
	font-weight: bold;
}


