body, html { 
	margin:0; 
	padding-left:5px; 
	font-family:Arial,sans-serif;
}

.pageTitle {
	font-family:'Georgia','Serif';
	font-size: 20pt;
	width: 100%;
	text-align: left;
	padding: 0px;
	color: #0000AA;
	margin-bottom: 20px;
	margin-left: 10px;
}

.blogEntry {
	background-color: #dedede;
	width: 600px;
	padding: 10px;
	margin: 5px;
}

.blogTitle {
	font-family:'Georgia','Serif';
	font-size: 20pt;
	padding: 0px;
	color: #0000AA;
	
	padding-bottom: 14px;
}

.blogImage {
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;

	padding-right: 14px;
}

.blogPost {
	font-size: 10pt;
	color: #444444;
	float: left;
}


a:hover .dojoxEnlarge{display:block !important;}
.dojoxEnlarge{background:url(images/enlarge.png) no-repeat 0 0;top:-5px;left:-5px;width:16px;height:16px;}
