<div class='vScrollable' style='width: {{ width }}px; height: {{ height }}px;'>
	{% for o in data %} 
			
			{% ifequal forloop.counter0 _lastSelectedIndex %}
			{% else %}
			{% endifequal %}
				<div 
					class='item'
					style='width: 100%;' 
					title='{{ o.label }}' 
					itemIndex='{{ forloop.counter0 }}' 
					itemId='{{ o.id }}'
					id='{{ id }}-{{ o.id }}'
					dojoAttachEvent='onmouseover: _onMouseover, onmouseout: _onMouseout,onclick: _onClick'> 

				<table class='content'>
					<tr valign='center'>
						<td class='deleteCell' valign='top' 
							itemIndex='{{ forloop.counter0 }}' 
							itemId='{{ o.id }}'></td>
								{% if o.iconSrc %}
									<td width='0' valign="top">
										<div class='icon'><img src='{{ o.iconSrc }}'></div>
									</td>
								{% endif %} 
						<td valign='center' class='label' width='100%' style="line-height: 1.3em"> 
							x{{ o.label|safe }} 
						</td>
					</tr>
				</table>

			</div> 
	{% endfor %}
</div> 
