/** Fonts **/
@font-face {
		font-family: 'ArialRoundedMTBold';
		src: url('fonts/arialroundedmtbold.eot');
		src: url('fonts/arialroundedmtbold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/arialroundedmtbold.woff') format('woff'),
			 url('fonts/arialroundedmtbold.ttf') format('truetype'),
			 url('fonts/arialroundedmtbold.svg#arialroundedmtbold') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('fonts/PTC75F-webfont.eot');
    src: url('fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC75F-webfont.woff') format('woff'),
         url('fonts/PTC75F-webfont.ttf') format('truetype'),
         url('fonts/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('fonts/PTC55F-webfont.eot');
    src: url('fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTC55F-webfont.woff') format('woff'),
         url('fonts/PTC55F-webfont.ttf') format('truetype'),
         url('fonts/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('fonts/PTS76F-webfont.eot');
    src: url('fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS76F-webfont.woff') format('woff'),
         url('fonts/PTS76F-webfont.ttf') format('truetype'),
         url('fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('fonts/PTS75F-webfont.eot');
    src: url('fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS75F-webfont.woff') format('woff'),
         url('fonts/PTS75F-webfont.ttf') format('truetype'),
         url('fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('fonts/PTS56F-webfont.eot');
    src: url('fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS56F-webfont.woff') format('woff'),
         url('fonts/PTS56F-webfont.ttf') format('truetype'),
         url('fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F-webfont.woff') format('woff'),
         url('fonts/PTS55F-webfont.ttf') format('truetype'),
         url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*** general Styles ***/
body {font-family: 'PTSansRegular',"Lucida Grande", sans-serif;}

#wrap {min-width: 960px; width: 100%;postion: relative; min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -353px; background: url(images/content-wrap.png) top left repeat;}
.header-wrap {background: #383B3E; height: 30px; border-bottom: 1px solid  #000;}
header {max-width: 960px; margin: 0 auto;}

/*** credentials ***/
#credentials {float:right; margin: 6px 0 0;}
#credentials ul li {float: left; padding-left: 10px; line-height: 1.2em;}
#credentials ul li a:link, #credentials ul li a:visited {color: #999; font-size: 14px; text-decoration : none; font-family: 'ArialRoundedMTBold';
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; }
#credentials ul li.login a:link, #credentials ul li.login a:visited {background: url(images/lock.png) top left no-repeat;
padding-left: 20px; border-right: 1px solid #999; padding-right: 10px;}
#credentials ul li a:hover, #credentials ul li a:active {color: #fff;}
#credentials ul li.dashboard a:link, #credentials ul li.dashboard a:visited {padding-left: 20px; border-right: 1px solid #999; padding-right: 10px;}

/*** Social media ***/
.social-media {float: left; position: relative; z-index: 1; margin-top: 34px;}
.social-media ul li {float: left; margin-right: 7px;}
.social-media ul li a {display: block; height: 30px; width: 30px; text-indent: -2000px; overflow: hidden; 
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
			background:url(images/social-media.png) top left no-repeat;
}

.social-media ul li.facebook a  {background-position: 0 0;}
.social-media ul li.facebook a:hover {background-position: -43px 0;}
.social-media ul li.twitter a {background-position: 0 -38px;}
.social-media ul li.twitter a:hover {background-position: -43px -38px;}
.social-media ul li.linkedin a {background-position: 0 -76px;}
.social-media ul li.linkedin a:hover {background-position: -43px -76px;}
.social-media ul li.youtube a {background-position: 0 -114px;}
.social-media ul li.youtube a:hover {background-position: -43px -114px;}
.apstrata .social-media p {font-family: "PTSansRegular"; color: #999; font-size: 13px; margin: 6px 0 15px;}


/*** Logo ***/
#logo {float: left; height: auto; margin-left: -8px; position: relative; z-index: 10;}
#logo img {width: 100%; height: auto;}


/*** Nav ***/
#nav-wrapper {background:url(images/nav-bg.png) top left repeat; border-top: 1px solid #868485; height: 100px; position: relative;}
nav {max-width: 960px; margin: 0 auto;}
.menu {float: right; position: relative; z-index: 1;}
.menu li {float: left; text-align: center; margin-left: 8px;}
.menu li.home a:link, .menu li.home a:visited {height: 18px; width: 20px; margin-top: -2px; overflow: hidden; text-indent: -1000px; display: block; background: url(images/home.png) top left no-repeat;}
.menu li.home a.selected {background: url(images/home-selected.png) top left no-repeat; margin-top: -10px;}

.menu a:link, .menu a:visited {padding: 38px 8px 0 8px; display: block; font-family: ArialRoundedMTBold; color: #fff; font-size: 14px; text-transform: lowercase; text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out; 
    -moz-transition:  all 0.3s ease-in-out; 
    -ms-transition:  all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out; 
}
.menu a:hover, .menu a:active, .menu a.selected {color: #fcfcfc; padding-top: 48px;
-moz-border-radius: 0 0 8px 8px;
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;
background-color: #F48220;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmMTgwMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjA1ZTE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #f18020 42%, #f05e16 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#f18020), color-stop(100%,#f05e16)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f18020 42%,#f05e16 100%); /* W3C */
}


.menu a.selected {cursor: default;}


/** Slider ***/
/*.slider {max-width: 960px; margin: 0 auto;}*/


/** Slider ***/
.slider-wrapper {background: #f5f5f5;}
.slider { margin: 0 auto; height:470px; -webkit-user-select:none;-moz-user-select:none; -ms-user-select:none;}
.slider .slides-wrapper { height:360px; max-width: 960px; margin:0 auto;}

.slider .slide .media-container { float: left; height: 320px;  width: 550px; margin-top:20px; margin-right:10px; }
.slider .slide .details-container { float:left; width:400px; }
.slider .slide .details-container h3{ font-size:30px; font-weight:normal; font-family: ArialRoundedMTBold; margin-bottom:14px; margin-top:45px; }
.slider .slide .details-container .txt-details{line-height: 1.3em; font-weight:normal; font-family: 'PTSansRegular'; font-size:16px; margin-bottom:25px; }
.slider .slide .details-container .buttons .btn { display:inline-block; box-shadow:1px 1px 2px #cccccc; margin-left:3px; margin-right:3px;}
.slider .slide .details-container .buttons .btn.large {width:190px; }
.slider .slide .details-container .buttons .btn.large input[type="submit"] {width:190px; text-align:center;}

.slider .slide .details-container .buttons .btn.large.tour input[type="submit"] { background:url(images/tour-arrow.png) no-repeat 165px center;  }
.slider .slide .details-container .buttons .btn.large.tour:hover input[type="submit"] { background: #F48220 url(images/tour-arrow.png) no-repeat 165px center;  }

.slider .slide .details-container .buttons .btn.medium {width:124px; }
.slider .slide .details-container .buttons .btn.medium input[type="submit"] { width:124px; text-align:center; }
.slider .slide .details-container .buttons .btn.yellow { background-color: #F48220;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiNmMTgwMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjA1ZTE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #f18020 42%, #f05e16 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#f18020), color-stop(100%,#f05e16)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f18020 42%,#f05e16 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f18020 42%,#f05e16 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18020', endColorstr='#f05e16',GradientType=0 ); /* IE6-8 */
}
.slider .slide .details-container .buttons .btn.yellow input[type="submit"] {text-shadow:1px 1px 0 #b26000; }
.slider .slide .details-container .buttons .btn.yellow:hover input[type="submit"] { color: #fff; text-shadow: 1px 1px 0 #767779; }



.slider .slide .details-container .note { font-weight:normal; font-family: PTSansCaptionRegular; font-size:13px; margin-top:25px;  }

.controls { height:110px; background: url(images/controls-bg.png) top center no-repeat;}
.controls .controls-wrapper { max-width:960px; margin:0 auto; }
.controls .control { float:left; width:236px; height:110px; cursor:pointer;
background: #f2f2f2;
background: -moz-linear-gradient(left,  #f2f2f2 0%, #e8e8e8 100%);
background: -webkit-linear-gradient(left,  #f2f2f2 0%,#e8e8e8 100%);
background: -ms-linear-gradient(left,  #f2f2f2 0%,#e8e8e8 100%);
background: linear-gradient(to right,  #f2f2f2 0%,#e8e8e8 100%); 
	-webkit-transition: all 0.3s ease-in-out; 
    -moz-transition:  all 0.3s ease-in-out; 
    -ms-transition:  all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out; 
box-shadow:0 1px 4px #CCCCCC inset;
}

.ie9 .controls .control {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
.ie8 .controls .control { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=1 ); }

.controls .arrow{ width:207px; height:10px; visibility:hidden; padding: 0 !important; margin-top: -10px; }
.controls .control1 .arrow { background:url(images/arrow-4.png) no-repeat center center; }
.controls .control2 .arrow { background:url(images/arrow-3.png) no-repeat center center; }
.controls .control3 .arrow { background:url(images/arrow-2.png) no-repeat center center; }
.controls .control4 .arrow { background:url(images/arrow-1.png) no-repeat center center; }

.controls .control.selected, .controls .control.selected h5,
.controls .control:hover, .controls .control:hover h5{ color:#FFFFFF; filter:none; }
.controls .control:first-child { width:237px; }
.controls .control h5 { color:#4047CF; font-size:16px; font-family: 'ArialRoundedMTBold'; font-weight:normal; padding:15px 18px 10px 18px;}
.controls .control div {font-size:13px; padding:0 15px 15px 15px; line-height: 1.3em;}

.controls .control1.selected, .controls .control1:hover { background:#4047CF; }
.controls .control2.selected, .controls .control2:hover { background:#7fb637; }
.controls .control3.selected, .controls .control3:hover { background:#ba4f95; }
.controls .control4.selected, .controls .control4:hover { background:#F5C91F; color:#383B3E; }
.controls .control4.selected h5, .controls .control4:hover h5{ color:#383B3E; }

.controls .control1.selected .arrow, .controls .control1:hover .arrow { visibility:visible;  }
.controls .control2.selected .arrow, .controls .control2:hover .arrow { visibility:visible;  }
.controls .control3.selected .arrow, .controls .control3:hover .arrow { visibility:visible;  }
.controls .control4.selected .arrow, .controls .control4:hover .arrow { visibility:visible;  }

/*** Footer ***/
.footer-wrap {height: 353px; background: url(images/footer-bg.png) bottom left repeat-x; width: 100%; min-width: 960px;}
footer {width: 960px; margin: 0 auto;}
footer h3 {font-size: 14px; font-family: "ArialRoundedMTBold"; color: #f5f5f5;margin-top: 0; line-height: 12px;}
footer .newsletter {padding-top: 33px; float: right;}
.apstrata footer .newsletter p {font-family: "PTSansRegular"; color: #999; font-size: 13px; margin:8px 0 14px;}
footer .textfield {width: 300px; float: left; margin-right: 10px;}
footer .btn {float: left;}
footer .site-map {padding-top: 46px;}
footer .site-map ul li a {text-transform: uppercase; color: #999; font-family: "PTSansBold"; font-size: 13px; text-decoration: none;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}
footer .site-map ul li a:hover {color: #fff;}
footer .site-map ul li:first-child {border: none;}
footer .site-map ul li {margin-bottom: 2px; padding-top: 3px; border-top: 1px solid #6e7072;}
footer .site-map ul {float: left; width: 100px; margin-right: 40px;}
footer .site-map section {float: left; margin-right: 40px;}
footer .site-map .title {font-family: "PTSansBold"; margin-bottom: 5px; color: #999; font-weight: normal; font-size: 13px; padding: 8px 0; text-transform: uppercase; border-bottom: 1px solid #6e7072;}
footer .site-map section ul li {margin: 0; line-height: 1.1em; padding: 0; border: none;}
footer .site-map section ul li a {text-transform: lowercase; font-size: 12px; font-family: "PTSansRegular";}
footer .site-map section.help {width: 200px;}
/*footer .site-map section.help ul {float: left; margin-right: 20px; width: 200px;}*/
/*footer .site-map section.help ul li {float: left; margin-right: 20px;}*/
footer .copyright {padding-top: 52px;}
.apstrata footer .copyright p {float: left; font-size: 13px; font-family: "PTSansRegular"; color: #777;}
footer .copyright p img {margin-top: -2px;}
footer .copyright img:hover {opacity: 0.6; filter:alpha(opacity=60);}
.apstrata footer .copyright p + p {float: right; font-family: "PTSansRegular";}

footer #social {
		float: right;
		margin: 6px 0 0;
}

.social-bookmarks {float: left; width: 300px; padding: 0; margin: 6px 0 0;}
.social-bookmarks li {float: right; margin: 0; padding: 0!important; list-style-type: none;}

/*** Container and content ***/
.container {background: url(images/container.png) top left repeat-x; margin-top: -1px; padding-bottom: 336px;}
.content-wrap {padding-bottom: 80px;}

.content  {max-width: 960px; margin: 0 auto; padding-top: 32px;}
.content h1 {font-size: 30px; font-family: "ArialRoundedMTBold"; text-transform: lowercase;}
.title {font-size: 25px; font-family: "ArialRoundedMTBold"; color: #282828; margin-bottom: 20px; text-transform: lowercase;}
.title span  {color: #F48220; margin-right: 10px;}
.side-menu {width: 300px; float: left;}

.navigation {margin-left: -25px;margin-bottom: 20px; margin-top: 20px;}
.navigation .top {height: 42px; width: 300px; background:url("images/nav-list-top.png") repeat scroll left top;}
.navigation .bottom {height: 42px; width: 300px; background:url("images/nav-list-bottom.png") repeat scroll left top;}
.navigation .middle {width: 302px; background:url("images/nav-list.png") repeat-y scroll left top;}
.navigation .middle ul {width: 220px; padding-left: 38px;}
.navigation ul li {border-top: 1px solid #ccc; margin-top: 4px;}
.navigation ul li:first-child {border-top: none; margin-top: 0;}
.navigation ul li a:link, .navigation ul li a:visited {font-family: "ArialRoundedMTBold"; font-size: 15px; color: #383B3E; padding: 3px 0 3px 6px; text-decoration: none;
display: block; margin-top: 4px;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}
.navigation ul li:first-child a {margin-top: 0;}
.navigation ul li a:hover, .navigation ul li a:active {color: #fff; background: #F48220;}
.navigation ul li a.selected {color: #fff; background: #F48220; cursor: default;}

.navigation .middle ul.submenu {padding-left: 20px; width: auto; margin: 4px 0 6px 0;}
.navigation .middle ul.submenu li {border: none; margin: 0;}
.navigation .middle ul.submenu li a:link, .navigation .middle ul.submenu a:visited {font-size: 13px; font-family: "PTSansRegular"; padding: 2px 0 2px 4px;}

/*** Editorial ***/
.editorial {width: 625px; float: right;}
.dashboard {color: #383B3E; font-family: "PTSansRegular"; font-size: 18px;}
.info {color: #282828; font-family: "PTSansRegular"; font-size: 16px;}
.table-design {margin: 10px 0; background:url("images/table-bg.png") repeat scroll left top;border: 1px solid #B4B4B4; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; padding: 8px;}
table th {text-align: left; text-transform: uppercase; font-size: 16px; color: #282828; padding: 10px 0; border-bottom: 1px solid #B2B2B2;}
table td {padding: 8px 0 4px 0;}
table td a {font-family: "PTSansRegular"; text-decoration: none; font-size: 0.9em;}
table td:first-child a {cursor: default; color: #444;}
table .separator {color: #F48220; margin: 0 5px;}

.image {background: #fff; border: 1px solid #B4B4B4;  -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
text-align: center;}
.listing {clear: both; padding: 10px 0 40px 0; display: inline-block; width: 100%; margin-bottom: 3px;}
.listing .image {width: 130px; height: 130px; float: left; margin-right: 30px;}
.listing-info {float: left; width: 460px;}
.listing h2, .registrationWidget h2 {color: #282828; font-size: 16px; margin-bottom: 4px; text-transform: uppercase;}
.registrationWidget h2 {font-family: "PTSansBold";}
.registrationWidget .promotion.row { width: 605px; }

.listing .info {line-height: 1.3em;}
.listing .btn {margin-top: 8px;}

.documentation {cursor: pointer; text-align: center; width: 190px; height: 280px; margin-right: 18px; float: left; margin-top: 40px;}
.documentation:hover {opacity: 0.6; filter:alpha(opacity=60);}
.documentation h2 {text-transform: uppercase; margin: 8px 0 4px 0;}
.documentation .image {background:url("images/table-bg.png") repeat left top; width: 190px; height: 190px;}
.documentation .info {font-size: 13px; font-family: "PTSansRegular"; line-height: 1.3em;}
.documentation.selected {cursor: default; }
.documentation.selected:hover {opacity: 1; filter:alpha(opacity=100);}
.documentation.selected .image {background: #fff; border-color: #F48220;}
.documentation.selected h2 {color: #F48220;}

.benefit {width: 425px; float: left;}
.benefit .image {width: 425px; height: 170px; margin-bottom: 14px;}
.benefit h2 {margin: 0 0 4px 0; font-family: 'PTSansBold';}
.benefit .info {line-height: 1.3em;}
.row {display: inline-block; width: 100%; clear: both; border-bottom: 1px solid #bfbfbf; padding: 30px 0;}
.row .benefit {margin-right: 20px;}
.row .benefit + .benefit {margin-right: 0; float: right;} 
.row.last {border: none;}

.feature {display: inline-block; clear: both; margin-bottom: 25px; padding-bottom: 35px; background:url("images/feature-sep.png") no-repeat bottom left; }
.feature .image {background: none; width: 465px; height: auto; border: none; padding-top: 20px;}
.feature .image.fl {margin-right: 20px;}
.feature .image.fr {margin-left: 20px;}

.feature .title {width: 475px;}
.feature .section {margin-bottom: 22px; width: 440px; margin-left: 26px;}
.feature h2 {font-size: 16px; margin-bottom: 2px; font-family: 'PTSansBold';}
.feature .info {line-height: 1.3em;}
.feature .btn {margin-top: 20px;}

.feature.last {background: none;}

.case-study {margin-top: 10px; display: inline-block; clear: both; margin-bottom: 15px; padding-bottom: 35px; background:url("images/feature-sep.png") no-repeat bottom left;width: 100%; }
.case-study .image {float: left;}
.case-study .img-wrap {width: 300px; height: 200px; display: table-cell; vertical-align: middle;}
.case-study .section {float: right; margin-left: 40px; width: 600px;}
.case-study h2 {font-size: 16px; margin-bottom: 8px;}
.case-study .info {line-height: 1.2em;}

.team {font-size: 15px; line-height: 1.2em;}
.team .title {margin-top: 20px; background:url("images/feature-sep.png") no-repeat top left; padding-top: 30px;}
.team h2 {font-size: 14px; float: left; text-decoration: underline; font-family: 'PTSansCaptionBold'; color: #F48220; float: left; width: 100%; margin-bottom: 5px;}

.question {font-family: 'ArialRoundedMTBold'; margin-bottom: 10px; background:url("images/parenthese.png") no-repeat top left; padding-left: 18px;}
.answer {font-family: 'PTSansRegular'; margin-bottom: 16px; color: #666; font-size: 14px; line-height: 1.2em;}

.about-apstrata {font-family: "PTSansItalic"; font-size: 22px;}
.about-apstrata .parenthese {color: #F48220;}

.about {line-height: 1.2em;}
.pricing {line-height: 1.2em;}
.pricing ul {list-style-type: square; list-style-position: inside;}
.pricing .question {margin-bottom: -10px;}
.pricing ul {margin-bottom:10px;}

/** General styles ***/
.apstrata .FormGenerator h2 {margin-top: 0;}
.border {border: 1px solid #bfbfbf; margin: 40px 0; display: inline-block; width: 100%; height: 0;}
.fr {float: right;}
.fl {float: left;}
.fnt18 {font-size: 18px;}
.marB20 {margin-bottom: 20px;}
.textfield {border: 1px solid #B4B4B4; background: #fff; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.textfield input[type="text"] {border: none; background: none; padding: 7px 4px; width: 98%; color: #999;}

.btn { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
background: #8c8c8c; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #8c8c8c 0%, #b2b2b2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(99%,#b2b2b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #8c8c8c 0%,#b2b2b2 99%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-8 */
}
.ie9 .btn {filter: none;}
.btn input[type="submit"] {background: none; border: none; padding: 6px 12px; text-align: center; text-transform: uppercase; font-size: 16px; font-family: 'ArialRoundedMTBold'; color: #fff;
-moz-text-shadow: 1px 1px 0 #767779;
-webkit-text-shadow: 1px 1px 0 #767779;
text-shadow: 1px 1px 0 #767779;
-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
			-webkit-transition: all 0.5s ease-in-out; 
            -moz-transition:  all 0.5s ease-in-out; 
            -ms-transition:  all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
			transition: all 0.5s ease-in-out; 
}

.btn:hover input[type="submit"] {background: #F48220;
-moz-text-shadow: 1px 1px 0 #000;
-webkit-text-shadow: 1px 1px 0 #000;
text-shadow: 1px 1px 0 #000;}


.loading {margin: 10px 0; text-align: center; padding: 15px 0;}

.dashboard.profile { position:relative !important; }

.dashboard.profile .actions { clear:both; padding-top:15px; }


.profile .FormGenerator { padding: 5px; }

.apstrata .FormGenerator .form .dijitTextBox {
	border: 1px solid #B4B4B4;
	background: white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 7px 4px;
	width: 98%;
	color: #999;
	font-size:0.75em;
	}
.apstrata .dijitButton  { 
-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
background: #8c8c8c; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #8c8c8c 0%, #b2b2b2 99%); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #8c8c8c 0%,#b2b2b2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-8 */
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
width:auto !important;
}
.ie9.apstrata .dijitButton {filter: none;}	

.apstrata .dijitButton .dijitButtonText {
border: none;
padding: 6px 12px;
text-align: center;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
color: white;	
-moz-text-shadow: 1px 1px 0 #767779;
-webkit-text-shadow: 1px 1px 0 #767779;
text-shadow: 1px 1px 0 #767779;	
	
	}
.apstrata .dijitButtonNode { border: 0!important; vertical-align: middle; text-align: center; background: none!important;}

.apstrata .dijitButtonHover { background: #F48220;}
.apstrata .dijitButtonHover .dijitButtonText { text-shadow: 1px 1px 0 #000000;}


.apstrata .label {font-family: 'PTSansBold'; font-size: 0.85em; color: #555555; margin-top: 7px; margin-bottom: 3px;}
.FormGenerator form {
	
}

.FormGenerator .set {
	
}
			
.FormGenerator .form {
	
}

.FormGenerator .set .fieldset-label {
	padding-top: 8px;
}

.FormGenerator.row.dijiTextBox {
	background: green;
	
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.FormGenerator form .headerRow {
}

.FormGenerator form .headerRow .label {
	font-size: 0.8em;
	display: inline-block;
	padding-top: 0px;
	width: 215px;
}

.FormGenerator form .set {
	
}

.FormGenerator form .setLabel {
	margin-top: 15px;
	font-weight: bold;
}


.FormGenerator form .row {
	
}

.FormGenerator .FieldSet {  }

.FormGenerator .FieldSet.section { float:left; width:300px; }
.apstrata .FormGenerator .FieldSet.section + div + div { margin-left:15px; }
.apstrata .FormGenerator form .setLabel + div + div { margin-top: -22px; text-indent: 313px!important;}
.dj_gecko .apstrata .FormGenerator form .setLabel + div + div { text-indent: 13px;  }


.FormGenerator .FieldSet .set {
}

/* example custom classes */
.redInput { /* this could be assigned to a field through "cssClass" attribute */
	color: red;
	background: yellow !important;
}

.redInput-label {  /* the field label will be assigned the "[customClass]-label" class  */
	color: red;
}
.apstrata .LoginWidget { top: 205px !important; z-index: 400!important; }

.apstrata .LoginWidget .login {
background: #4e4848;
font-size: 1.2em;
margin-left: auto;
margin-right: auto;
padding: 20px;
width: 400px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5 px;
-moz-box-shadow: 0 3px 4px #555;
box-shadow: 0 3px 4px #555;
-webkit-box-shadow: 0 3px 4px #555;
border:none;
}
.apstrata .LoginWidget .login h2 { color:#F48220; font-size: 24px; }
.apstrata .expand-container ol, .apstrata #apstrata-summary ol {list-style-type: decimal; list-style-position: inside;}
.apstrata #apstrata-summary ul {list-style-type: square; list-style-position: inside;}
.apstrata #apstrata-summary {font-size: 0.8em;}
.apstrata .expand-container ol li, .apstrata #apstrata-summary ul li, .apstrata #apstrata-summary ol li {font-size: 0.9em;}
.apstrata .innerContent .smallButton {-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-family: "PTSansRegular";
color: #fff; text-transform: uppercase;
-moz-text-shadow: 1px 1px 0 #767779;
-webkit-text-shadow: 1px 1px 0 #767779;
text-shadow: 1px 1px 0 #767779;
padding: 8px 10px; margin-right: 20px; font-size: 14px; text-decoration: none;
background: #8c8c8c; float: right; margin-top: 7px;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #8c8c8c 0%, #b2b2b2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(99%,#b2b2b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8c8c8c 0%,#b2b2b2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #8c8c8c 0%,#b2b2b2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-8 */}
.apstrata .innerContent .smallButton:hover {background: #F48220;}

.apstrata .RegistrationWidget {padding-bottom: 60px !important ;}
.page#registration { padding-top: 100px; padding-bottom: 250px; }

.expand-container ul { list-style:disc;}
.expand-container li { font-size:13px; margin-bottom:3px; margin-left:20px;}



.apstrata p {font-size: 13px; margin: 0; padding: 0; line-height: 1.2em;}
.apstrata .HorizonCurtain {background: none; z-index: 200;}


.apstrata .dijitTooltipContainer {border: 1px solid #666; background: #d46464; color: #fff; padding: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
font-size: 11px;
font-family: "PTSansCaptionBold";}

.apstrata .horizonBackground {background: none; border: none;}


.apstrata h1#faq {text-transform: uppercase;}


/*** Alert ***/
.apstrata .apstrataHorizonAlert .icon {position: static; margin-right: 10px;}
.apstrata .apstrataHorizonAlert .message {font-size: 1em; padding-top: 10px; position: static; word-wrap: break-word;}
.apstrata .apstrataHorizonAlert .message .content {padding-top: 0; border: none; margin: 0; line-height: 1.3em;}
.apstrata .apstrataHorizonAlert .actions {margin-top: -10px;}

/*** API Summary page that opens from facebook link in facebook like ***/
.apstrata .api-summary h2 {font-size: 30px; margin-bottom: 20px; text-transform: lowercase;}
.apstrata .api-summary p {line-height: 1.6em; margin: 10px 0;}
.apstrata .api-summary ol {margin-top: 20px!important; list-style-position: outside!important;}
.apstrata .api-summary ol li {font-size: 1em!important; color: #555;}