<div class="tundra">
	<div dojoAttachPoint="roundedBox survey" class="survey">
		<h2 dojoAttachPoint="title" dojoType="dijit.InlineEditBox">${surveyTitle}</h2>
		<h3 dojoAttachPoint="description" dojoType="dijit.InlineEditBox">${surveyDescription}</h3>
		<form id="survey_form" dojoType="dijit.form.Form" dojoAttachPoint="surveyform">
		<div dojoAttachPoint="questions"  dojoType="dijit.layout.LayoutContainer" class="questionsPanel" id="dndContainer"></div>
		</form>
	</div>

	<br/><br/>
	<a href="#" dojoAttachPoint="btnGetData">Get Data Model</a>
	<div dojoAttachPoint="output" class="surveyFieldEditor" style="display: none; width:100%; color: blue;"></div>
	<div dojoAttachPoint="listingEmbed" class="surveyFieldEditor" style="display: none; width:100%; color: blue;"></div>
</div>
