<div class='verticalList hStackable rounded-sml' style='width: {{ width }}px'>
	<style>
		.sortField {
			width: 24px;
		}

		.searchField {
			text-align: left;
		}
		
		.searchField input {
			font-size:0.8em;

			-moz-border-radius-topleft: 3px;
			-webkit-border-top-left-radius: 3px;
			border-top-left-radius: 3px;
		
			-moz-border-radius-bottomleft: 3px;
			-webkit-border-bottom-left-radius: 3px;
			border-bottom-left-radius: 3px;
		
			text-align: left;
			border:1px solid #CECECE;
			padding: 1px;
			width: 110px !important;
		}
		
		.sortField .on {
			opacity: 1;
			cursor: pointer;
		}

		.sortField .off {
			opacity: .3;
			cursor: pointer;
		}
		
		.highlightFilter {
			background: #9999FF;
			#color: white;
			
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
	</style>
	<div style='height: 4px;'></div>
	<table>
		{% if sortable %} 
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<div class='sortField'>
									<img dojoAttachPoint='imgUp' dojoAttachEvent='onmouseover: _upOn, onmouseout: _upOff, onclick: _ascending' class='off' src='{{ _apstrataRoot }}/resources/images/pencil-icons/sml-up-arrow.png'><img dojoAttachPoint='imgDown'  dojoAttachEvent='onmouseover: _downOn, onmouseout: _downOff, onclick: _descending' class='off' src='{{ _apstrataRoot }}/resources/images/pencil-icons/sml-down-arrow.png'>
								</div>
							</td>
							<td>
								<div class='searchField'>
									<input type='text' class='searchField' dojoAttachPoint='dvSearchField' dojoAttachEvent='onkeypress: filterChange' value='' />
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		{% endif %}
		<tr>
			<td>
				<div dojoAttachPoint='dvItems'>
				</div> 
			</td>
		</tr>
		<tr>
			<td style='text-align: center;'>
		{% if editable %} 
			<div dojoType='dijit.form.ToggleButton' iconClass='dijitCheckBoxIcon' dojoAttachEvent='onClick: editItems'>delete</div>
			<div dojoType='dijit.form.Button' dojoAttachEvent='onClick: newItem' dojoAttachPoint='aaa'>new</div>
		{% endif %}
			</td>
		</tr>
	</table>
</div>