<div class="tundra">
	<div dojoAttachPoint="roundedBox survey" title="Survey" class="survey" >
		<h2 dojoAttachPoint="title" title="Survey title" dojoType="dijit.InlineEditBox">${surveyTitle}</h2>
		<h3 dojoAttachPoint="description" title="Survey description" dojoType="dijit.InlineEditBox">${surveyDescription}</h3>
		<form id="survey_form" dojoType="dijit.form.Form" dojoAttachPoint="surveyform">
		<div dojoAttachPoint="questions" dojoType="dijit.layout.LayoutContainer"  withHandles="true" class="questionsPanel" id="dndContainer"></div>
		</form>
		<br/>
		<div title="Show results to users">
			<input dojoType="dijit.form.CheckBox" dojoAttachPoint="viewResults" id="viewResultsId" name="allowViewingResults"/> Show results to users
		</div>
		<br/>
		<div title="Success Message" dojoAttachPoint="successMsgDiv">
			Success Message: <input dojoType="dijit.form.ValidationTextBox" trim=true dojoAttachPoint="successMsg" value="">
		</div>
		<div id="pageFooter" title="Powered by apstrata">
          <a target="_blank" href="http://www.apstrata.com" title="Powered by apstrata">&nbsp;</a>
        </div>
		<div class="clear"></div>
	</div>

	<br/><br/>
	<div style="height: 30px;">
		<input dojoAttachPoint="btnGetData" class="surveyButton" style="cursor:pointer" title="Generate Embed Code" type="button" value="Generate Embed Code" />
		<div dojoAttachPoint="warningMessage" class="warningMessage" style="display: none;"></div>
	</div>

	<div dojoAttachPoint="output" class="embedCodeDiv" style="display: none;"></div>
	<div dojoAttachPoint="listingEmbed" class="embedCodeDiv" style="display: none;"></div>
	<div dojoAttachPoint="chartingEmbed" class="embedCodeDiv" style="display: none;"></div>
</div>
