<div class="dojoDndItem">
	<div dojoAttachPoint="surveyField" class="roundedBox surveryField">
		<span title="Drag and drop your question" dojoAttachPoint="handle"  class="dojoDndHandle" >&nbsp;&nbsp;</span>
		<span dojoType="dijit.InlineEditBox" dojoAttachPoint="fldTitle" onChange="console.debug(this.id);">${title}</span><br/>
		<span dojoAttachPoint="spnValue" style="display: none;"><input dojoType="dijit.form.ValidationTextBox" trim=true required="false" invalidMessage="Required." dojoAttachPoint="fldValue"  value="" name=""></span>

		<div dojoAttachPoint="editor" class="surveyFieldEditor" style="display: none;">
			<div>Mandatory:&nbsp;</div><input type="checkbox" dojoAttachPoint="chkMandatory" /><br />
			<div>Field Name:&nbsp;</div><span dojoAttachPoint="fldName" ><input dojoAttachPoint="fldName" type="text" value="" /></span><br />
			<div style="padding-bottom: 5px;">type: ${fieldType}<br/>
			<select dojoAttachPoint="lstType" /><option value="text">text</option><option value="checkbox">checkbox</option><option value="list">list</option><option value="radio button">radio button</option><option value="multiple choice">multiple choice</option></select><br/></div>
			<div dojoAttachPoint="divChoices" style="display: none;">choices (comma separated):&nbsp;<br/>
			<textarea dojoAttachPoint="txtChoices" rows="3" cols="20">choice1, choice2, choice3</textarea></div>
			<div><br /></div>
			<div>
<!--				<input dojoAttachPoint="btnSave" type="button" value="save" />&nbsp; -->
				<input dojoAttachPoint="btnCancel" type="button" value="save" />&nbsp;
				<input dojoAttachPoint="btnDelete" type="button" value="delete" />
			</div>
		</div>
	</div>
	<div style="background-color:;height: 2px"></div>
</div>