<div>
    <div dojoAttachPoint="title" title="Survey title" class="survey-title">
    </div>
    <table>
        <tr>
            <td>
                <table dojoAttachPoint="displayTable" class="rounded-corner">
                </table>
            </td>
        </tr>
        <tr>
            <td align="left">
                <div id="pageFooter" title="www.apstrata.com">
                    Running on <a style="cursor:pointer" target="_blank" href="http://www.apstrata.com"><b>ap<span style="color:orange">((</span>strata</b></a>
                </div>
            </td>
        </tr>
    </table>
</div>
