<div>
        <div dojoType="dijit.Dialog" dojoAttachPoint="dlgWait" style="text-align: left;">
                <div style="background-image: url('${_apstrataRoot}/resources/images/apstrata-clouds.gif'); background-repeat: no-repeat; width: 150px; height: 150px;">
                        <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="padding:4px; font-size:1.2em; color: #0000EE; background-color: #FFFFFF; filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;">&nbsp;talking to&nbsp;</span><br><br><br><br>
                </div>
        </div>
</div>