{% if %}{% endif %}
<!-- begin slider wrapper -->
<div class="slider-wrapper" dojoAttachPoint="carouselContent">
	<!-- begin slider -->
		<div class="slider" style="">
			<div class="slides-wrapper w960" dojoAttachPoint="slideWrapper">
				<div class="slide slide1">
					<div class="media-container c6 p0" dojoAttachPoint="mediaContainer"></div>
					<div class="details-container c6 p0" dojoAttachPoint="slideDetails"></div>
				</div>
			</div>
			<div class="controls w960 clear">
				<div class="controls-wrapper">
					<div dojoAttachPoint="slidesControls" class="slides-controls"></div>                                                        
				</div>
			</div>
		</div>
	 <!-- end slider -->
</div>
<!-- end slider wrapper -->