{% if %}{% endif %}
<!-- begin slider wrapper -->
<div class="slider-wrapper">
	<!-- begin slider -->
  <div class="slider" style="">

          <div class="slides-wrapper">
          	<div class="slide slide1">
          		<div class="media-container">
          			<!-- 
                  	<img src="images/slide-1.png"/>
                  	 -->
                  	 
                  	<img dojoAttachPoint="slideImage"/>
                  
                  </div>
                  <div class="details-container" dojoAttachPoint="slideDetails">
                  <!-- 
                 	  <h3>touch cloud is free to use</h3>
                  	<div class="txt-details">
                      	If your application succeeds, then you start paying, before that's on us!
                      </div>
                      <div class="buttons">
                      	<div class="btn yellow large"><input type="submit" value="SIGN UP FOR FREE"/></div>
                      	<div class="btn large tour"><input type="submit" value="TAKE THE TOUR"/></div>                         
                      </div>
                      
                      <div class="note">Already a member? Click <a href="#">here</a> to sign in.</div>
                   -->
                  </div>
           </div>
         
          </div>
          <div class="controls">
	          <div class="controls-wrapper" dojoAttachPoint="slidesControls" dojoAttachEvent="onclick: itemClicked">
	          	<!--
	          	<div class="control control1">
	              	<div class="arrow"></div>                    
	              	<h5>what is touch cloud?</h5>
	              	<div class="">apstrata is a complete BAAS service for web and mobile apps. find out how it can help</div>
	            </div>
	          	<div class="control control2">
	              	<div class="arrow"></div>                    
	               	<h5>develop for all platforms</h5>
	              	<div class="">touch cloud allows you to work with the tools you already know</div>
	            </div>
	          	<div class="control control3">
	              	<div class="arrow"></div>                    
	              	<h5>save time & money</h5>
	              	<div class="">our main goal is to save you time and money by offering you ready to use back end.</div>
	            </div>
	          	<div class="control control4 selected">
	              	<div class="arrow"></div>                    
	                 	<h5>touch cloud is free to use</h5>
	              	<div class="">if your application succeeds then you start paying, before that it's on us!</div>
	            </div>
	            -->    
	          </div>                                                        
          </div>
  </div>
  <!-- end slider -->
</div>
<!-- end slider wrapper -->