<div class='DocViewer'>
	<div class='DocViewerContent'>

		<div class='previous' dojoAttachPoint="dvPrevious" dojoAttachEvent="onclick:_previous"></div>
		<div class='content'>
			<div class='innerContent'>
				<div class='top'><div class='type'>{{ data.type }}</div><div class='label'>{{ data.label }}</div></div>
				<div class='middle'>
						<table style="height: 100%; width: 100%;">
							<tr>
								<td valign='top' style='width: 128px;text-align: center;'>
									<img src="resources/icons/{{ data.icon }}" />
								</td>
								<td valign='top'>
									<div class='description' dojoAttachPoint='dvDescription'>&nbsp;</div>
								</td>
							</tr>
						</table>
				</div>
				<div class='bottom'>
					<div style='float: left;text-align: left;'>
						<div class='facebookLikeButton'></div> Like the {{ data.label }} {{ data.type }} on Facebook
						<br> +1 the {{ data.label }} {{ data.type }} on Google+
					</div>
					<div style='float: right'>
						<a class='smallButton' href='http://wiki.apstrata.com/display/doc/{{ data.label }}' target='_wiki'>view documentation</a>
						<div class='smallButton'>try it</div>
						<div class='smallButton'>get sample code</div>
					</div>
					<div style='clear:both;'></div>
				</div>
			</div>
		</div>
		<div class='next' dojoAttachPoint="dvNext" dojoAttachEvent="onclick:_next"></div>

	</div>
</div>