<div class='DocViewer'>
	<div class='DocViewerContent'>
		<div class='previous' dojoAttachPoint="dvPrevious" dojoAttachEvent="onclick:_previous"></div>
		<div class='content'>
			<div class='innerContent'>
				<div class='top'><div class='type'>{{ data.type }}</div><div class='label'>{{ data.label }}</div></div>
				<div class='middle'>
						<table style="height: 100%; width: 100%;">
							<tr>
								<td valign='top' style='width: 128px;text-align: center;'>
									<img src="resources/icons/{{ data.icon }}" />
								</td>
								<td valign='top'>
									<div class='description' dojoAttachPoint='dvDescription'>&nbsp;</div>
								</td>
							</tr>
						</table>
				</div>
				<div class='bottom'>
					<div style='float: left;text-align: left;'>
						<ul class="social-bookmarks">
							<li>
								<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.apstrata.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
							</li>
							<li>
								<div class="g-plusone" data-size="medium" data-href="http://www.apstrata.com"></div>
							</li>
							<li>
								<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
								<script type="IN/Share" data-url="http://www.apstrata.com" data-counter="right"></script>
							</li>
						</ul>
					</div>
					<div style='float: right'>
						<a id="viewDocumentation" class='smallButton' href='http://wiki.apstrata.com/display/doc/{{ data.wikiDoc }}' target='_wiki'>view documentation</a>
						<div id="tryIt" class='smallButton'>try it</div>
						<div id="getSampleCode" class='smallButton'>get sample code</div>
					</div>
					<div style='clear:both;'></div>
				</div>
			</div>
		</div>
		<div class='next' dojoAttachPoint="dvNext" dojoAttachEvent="onclick:_next"></div>

	</div>
</div>