<div>
         <ul>
            {%if isLoggedIn %}
            	<li class="logout"><a href='javascript: void(0);' dojoAttachEvent="onclick: logout">{{logoutLabel}}</a></li>
	            <li><a href='{{dashboardUrl|default:"#"}}'>{{dashboardLabel}}</a></li>
            {%else%}
             	 <li class="login"><a href='{{loginUrl|default:"#"}}'>{{loginLabel}}</a></li> 
	             <li><a href='{{signupUrl|default:"#"}}'>{{signupLabel}}</a></li>
             {%endif%} 
         </ul>
 </div>