<div>
	<div class='slides'>
		<div class="previous" dojoAttachEvent='onclick: _previous'></div>
			<div class='slide' dojoAttachPoint='dvSlide'>
						<div class='slideContent'>
							<h3 dojoAttachPoint='dvSlogan'>A</h3>
							<p dojoAttachPoint='dvText'>B</p>
						</div>
			</div>
		<div class="next" dojoAttachEvent='onclick: _next'></div>
	</div>

	<div class='actions'>
		<div class='left'>
			{% for slide in slides %}
				<div class='selector' dojoAttachPoint='dvSelector{{ forloop.counter0 }}'  
					dojoAttachEvent='onclick: _changeSlide' 
					data-index='{{ forloop.counter0 }}'></div>
			{% endfor %}
		</div>

		<div class='right'>
			{% for action in actions %}
				<a class='button' href='{{ action.url }}'>{{ action.label }}</a>
			{% endfor %}
		</div>
		<div style='clear: both;'></div>
	</div>
</div>