<div>
	<div class='slides'>
		<div class="previous"></div>
			<div class='slide'>
				{% for slide in slides %}

					{% ifequal forloop.counter0 0 %}
						<div class='slideContent'>
					{% else %}
						<div class='slideContent' style='display: none;'>
					{% endifequal %}
							<h3>{{ slide.title }}</h3>
							<h4>{{ slide.text }}</h4>
						</div>
				{% endfor %}
			</div>
		<div class="next"></div>
	</div>

	<div class='actions'>
		<div class='left'>
			{% for slide in slides %}
				{% ifequal forloop.counter0 0 %}
					<div class='selectedSelector'></div>
				{% else %}
					<div class='selector'></div>
				{% endifequal %}
			{% endfor %}
		</div>

		<div class='right'>
			{% for action in actions %}
				<a class='button' href='{{ action.url }}'>{{ action.label }}</a>
			{% endfor %}
		</div>
		<div style='clear: both;'></div>
	</div>
</div>