<div class='panel'>
	<div class='homePanel' style='font-size:1.2em;'>
		<h2 style='position: relative; top: -40px;'>apstrata Code Explorer
		<img src='../../apstrata/resources/images/pencil-icons/earth.png' width='70' style='position: relative; top: 20px; left: 10px;'>
		</h2>

		<div style='position: relative; top: -40px;'>
			<p>The Code Explorer contains a wealth of examples that illustrate how to write Rich Client applications 
			(or <a href='http://en.wikipedia.org/wiki/Rich_Internet_application'>RIA</a>) using 
			<span class='highlight'>apstrata</span> as back-end.</p>

	<br><br>
			<div style='float:left; width: 5%;'>
				<img src='../../apstrata/resources/images/pencil-icons/left.png' width='70' style='position: relative; left: -50px;'>
			</div>
			<div style='float:left; width: 90%;position: relative; top: 5px;'>
				<p>From the panel on the left, you can pick a mini-application to explore. The source code 
					for these client-side javascript applications is provided as open source uner the GNU license at 
					<span class='highlight'>code.google.com/p/apstrata</span>.
				</p>
			</div>
			<div style='clear: both;'></div>		
			<br><br><br><br>
			<!--p>
				<strong>Applications:</strong>
				<ul>
					<li>
						<span class='highlight'>Blog:</span> 
						Simple blog application that demonstrates how to persist documents that contain Rich Text use the SaveDocument to persist Rich Text fields and 
						attachments and the Query API to build content lists and   
					</li>
					<li>
						<span class='highlight'>Survey:</span> Embeddable Survey engine
					</li>
				</ul>
			</p-->
			<div style='float:left; width: 8%;'>
				<img src='../../apstrata/resources/images/pencil-icons/help.png' width='60' style='position: relative; left: 0px;'>
			</div>
			<div style='float:left; width: 92%;'>
				<p>Good luck with your next killer app project, we hope you enjoy developing with apstrata's APIs as much as we do!
				And if you get any issues or need support, <u>let us know.</u></p>
			</div>
			<div style='clear: both;'></div>		
		</div>	
	</div>
</div>