<div class='panel'>
	{% if true %}
	{% endif %}
	<div class='homePanel' style='font-size:1.2em;'>
		<h2 style='position: relative; top: -40px;'>init Code Explorer
		<img src='../../apstrata/resources/images/pencil-icons/earth.png' width='70' style='position: relative; top: 20px; left: 10px;'>
		</h2>

		<p>This will erase all existing data in the account and recreate the basic objects and configuration needed to run the demo apps.</p>
		
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick: _init'>Initialize Store</button>
		
	</div>
</div>