/* claro/form/Common.css */
/*========================= common css =========================*/
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
.cms .dijitTextBoxError .dijitValidationContainer {
  background-color: #d46464;
  background-image: url('images/error.png');
  background-position: top center;
  border: solid #d46464 0;
  border-left-width: 1px;
  width: 9px;
}
.cms .dijitTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent !important;
  /* so the INPUT doesn't obscure the border in rtl+a11y */

}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.cms .dijitTextArea, .cms .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
.cms .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.dj_gecko .cms .dijitTextBox .dijitInputInner, .dj_webkit .cms .dijitTextBox .dijitInputInner {
  padding: 1px;
}
.cms .dijitTextBox, .cms .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */

  border-color: #b5bcc7;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.cms .dijitTextBox {
  background-color: #ffffff;
}
/* hover */
.cms .dijitTextBoxHover, .cms .dijitTextBoxHover .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.cms .dijitTextBoxHover {
  background-color: #e9f4fe;
  background-image: url('images/textBox_back.png');
  background-repeat: repeat-x;
}
/* error state */
.cms .dijitTextBoxError, .cms .dijitTextBoxError .dijitButtonNode {
  border-color: #d46464;
}
.cms .dijitTextBoxError, .cms .dijitTextBoxError .dijitInputContainer {
  background-color: #ffffff;
}
/* focused state */
.cms .dijitTextBoxFocused, .cms .dijitTextBoxFocused .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.cms .dijitTextBoxFocused {
  background-color: #ffffff;
  background-image: url('images/textBox_back.png');
  background-repeat: repeat-x;
}
.cms .dijitTextBoxFocused .dijitInputContainer {
  background: #ffffff;
}
.cms .dijitTextBoxErrorFocused, .cms .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #ce4f4f;
}
/* disabled state */
.cms .dijitTextBoxDisabled, .cms .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #d3d3d3;
}
.cms .dijitTextBoxDisabled, .cms .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #efefef;
  background-image: none;
  color: #818181;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
.cms .dijitComboBox .dijitArrowButtonInner {
  background-image: url("images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
  border: 1px solid #ffffff;
}
.cms .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.cms .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.cms .dijitTextBox .dijitInputInner, .cms .dijitTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.cms .dijitComboBox .dijitButtonNode {
  background-color: #efefef;
  background-image: url("images/formHighlight.png");
  background-repeat: repeat-x;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.cms .dijitComboBoxOpenOnClickHover .dijitButtonNode, .cms .dijitComboBox .dijitDownArrowButtonHover {
  background-color: #abd6ff;
}
.cms .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner, .cms .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* Arrow Button change when drop down is open */
.cms .dijitComboBox .dijitHasDropDownOpen {
  background-color: #7dbefa;
  background-position: 0 -177px;
  padding: 1px;
}
.cms .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
.cms div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
	 * (.cms .dijitComboBoxDisabled .dijitArrowButtonInner) */

  background-position: 0 50%;
  background-color: #efefef;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .cms .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
/* ie6 doesn't support transparent background img */
.dj_ie6 .cms .dijitTextBox, .dj_ie6 .cms .dijitComboBox .dijitButtonNode {
  background-image: none;
}
.dj_borderbox .cms .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .cms .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
