/* RadioButton
 * 
 * Styling RadioButton mainly includes:
 * 
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon - for border, padding, width|height and background image
 * 
 * 2. RadioButton within ToggleButton
 * 		.dijitToggleButton|.dijitToggleButtonChecked .* - for background image
 * 
 * 3. Checked state
 * 		.dijitRadioChecked - for checked background-color|image
 * 		.dijitToggleButtonChecked - for border, background-color|image, display and width|height
 * 
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover - for background image
 * 
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled - for background image
 */
.cms .dijitToggleButton .dijitRadio, .cms .dijitToggleButton .dijitRadioIcon {
  background-image: url('images/checkboxRadioButtonStates.png');
}
.dj_ie6 .cms .dijitToggleButton .dijitRadio, .dj_ie6 .cms .dijitToggleButton .dijitRadioIcon {
  background-image: url('images/checkboxAndRadioButtons_IE6.png');
}
.cms .dijitRadio, .cms .dijitRadioIcon {
  /* inside a toggle button */

  background-image: url('images/checkboxRadioButtonStates.png');
  /* checkbox sprite image */

  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0 2px 0 0;
  padding: 0;
}
.dj_ie6 .cms .dijitRadio, .dj_ie6 .cms .dijitRadioIcon {
  /* inside a toggle button */

  background-image: url('images/checkboxAndRadioButtons_IE6.png');
  /* checkbox sprite image */

}
.cms .dijitRadio {
  /* unselected */

  background-position: -105px;
}
.cms .dijitToggleButton .dijitRadioIcon {
  /* unselected */

  background-position: -107px;
}
.cms .dijitRadioDisabled {
  /* unselected and disabled */

  background-position: -165px;
}
.cms .dijitRadioHover {
  /* hovering over an unselected enabled radio button */

  background-position: -135px;
}
.cms .dijitRadioChecked {
  background-position: -90px;
}
.cms .dijitToggleButtonChecked .dijitRadioIcon {
  background-position: -92px;
}
.cms .dijitRadioCheckedHover {
  background-position: -120px;
}
.cms .dijitRadioCheckedDisabled {
  /* selected but disabled */

  background-position: -150px;
}
