<div class='panel'>
	{% if true %}
	{% endif %}
		<style>
		  .dijitToggleButton .dijitButtonNode {
		    width: 205px;
		    text-align: left;
		  }
		</style>	
	<div dojoType="dijit.form.Form" dojoAttachPoint="configurationForm" class="apstrataForm" encType="multipart/form-data" action="" method="" style='width: 220px;'>
		<div class="label">Create Schema ACL:</div>
		<input type="text" dojoAttachPoint="createSchemaACL" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">
		
		<div class="label">Create Script ACL:</div>
		<input type="text" dojoAttachPoint="createScriptACL" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">
		
		<div class="label">Send Email ACL:</div>
		<input type="text" dojoAttachPoint="sendEmailACL" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">

		<div class="label">Default Token Expires:</div>
		<input type="text" dojoAttachPoint="defaultTokenExpires" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">
		
		<div class="label">Default Token Idle Time:</div>
		<input type="text" dojoAttachPoint="defaultTokenIdleTime" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">
		
		<div class="label">Maximum Token Idle Time:</div>
		<input type="text" dojoAttachPoint="maximumTokenIdleTime" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">
		
		<div class="label">Maximum Token Life Time:</div>
		<input type="text" dojoAttachPoint="maximumTokenLifeTime" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">				
		
		<br/><br/>
		<div dojoType='dijit.form.ToggleButton' style='font-size: 0.8em; color: #0000AA' 
		     dojoAttachPoint="disableSchemalessDocs" iconClass='dijitCheckBoxIcon'>Disable Schemaless Documents</div>
		     
		<br/>
		<div dojoType='dijit.form.ToggleButton' style='font-size: 0.8em; color: #0000AA' 
		     dojoAttachPoint="optionalBindReferrer" iconClass='dijitCheckBoxIcon'>Bind Tokens To Referrer</div>
		     		     
		<br><br>
	</div>
		<div style='width: 100%; text-align: right;'>
			<button style="padding-right: 30px;" dojoAttachEvent='onClick: _save' dojoType='dijit.form.Button' >save</button>
		</div>	
</div>
