<div class='panel'>
	{% if true %}
	{% endif %}
	<style>
		.dijitLayoutContainer-child {
			overflow: auto;
		}
		#apstrata_devConsole_DocumentsSavePanel_0 {overflow-y:auto;}
		  .dijitArrowButtonInner {
		    height: 26px;
		  }				
	</style>
	<div dojoType="dijit.form.Form" dojoAttachPoint="saveDocumentForm" class="apstrataForm narrowForm" encType="multipart/form-data" action="" method="" style="width:820px;">
		<div class="label">Schema:</div>
		<select dojoType="dijit.form.FilteringSelect" required="false" autocomplete="true" dojoAttachPoint="schemaName" class="rounded-xsml">
			<option value=""></option>
			{% for o in listSchemas %} 
				<option value="{{ o.name }}">{{ o.name }}</option>
			{% endfor %}
		</select>

		<div class="label">Document Key:</div>
		<input type="text" dojoAttachPoint="documentKey" dojoType="dijit.form.ValidationTextBox" class="rounded-xsml">

		<div class="label">Run as:</div>
		<select dojoType="dijit.form.FilteringSelect" autocomplete="true" dojoAttachPoint="runAs" searchAttr="label" required="false"  class="rounded-xsml"> </select>

		<div style="height:5px;"></div>
		<fieldset style="width:98%;border:1px dashed #00f;"><legend class="label">Document Fields<button dojoAttachEvent='onClick: _addFieldLine' dojoType='dijit.form.Button'>+</button></legend>
		<div class="fields" dojoAttachPoint="fieldsList" dojoType="dijit.layout.LayoutContainer"></div>		
		</fieldset>			

		<br><br>
		<div style='width: 220px; text-align: right;'>
			<button dojoAttachEvent='onClick: _save' dojoType='dijit.form.Button' >save</button>
		</div>
	</div>	
</div>