<div class="field" dojoAttachPoint="templateField">				

		<style>
		  .dijitToggleButton .dijitButtonNode {
		    width: 60px;
		    padding-left:7px;
		  }
		  .dijitFileInputVisible {
		  	width: 180px !important;
		  }
		</style>
        <div style="float:left">
		<div class="label" style="height:25px;"></div>
		<button dojoAttachEvent='onClick: _removeFieldLine' dojoType='dijit.form.Button'>-</button>		
		</div>

        <div style="float:left">
		<div class="label" style="height:25px;">Name:</div>
		<input dojoAttachPoint="fieldName" dojoAttachEvent='onChange: _fieldNameChanged' type="text" dojoType="dijit.form.ValidationTextBox" required="true" class="rounded-xsml"/>
		</div>		
		
        <div style="float:left">
		<div class="label" style="height:25px;">Searchable:</div>
		<div dojoType='dijit.form.ToggleButton' dojoAttachPoint="ftsFields" iconClass='dijitCheckBoxIcon'></div>
		</div>	
		
		<div style="float:left">
		<div class="label" style="height:25px;">Type:</div>
		<select dojoType="dijit.form.FilteringSelect" dojoAttachEvent='onChange: _typeChanged' required="false" autocomplete="true" dojoAttachPoint="fieldType" class="rounded-xsml">
			<option value="string">string</option>
			<option value="numeric">numeric</option>
			<option value="date">date</option>
			<option value="text">text</option>
			<option value="file">file</option>
		</select>
		</div>	
		
		<div>
			<div class="label" style="height:25px;">Value:<button dojoAttachEvent='onClick: _addFieldValue' dojoType='dijit.form.Button' style="font-size:0.7em;">+</button></div>
			<div class="fieldValues" dojoAttachPoint="fieldValuesList" dojoType="dijit.layout.LayoutContainer"></div>
		</div>
</div>