<div class='panel'>
	<div class='homePanel' style='font-size:1.2em;'>
		<h2 style='position: relative; top: -40px;'>apstrata Developer Console
		<img src='../../apstrata/resources/images/pencil-icons/computer.png' width='70' style='position: relative; top: 20px; left: 10px;'>
		</h2>

		<div style='position: relative; top: -40px;'>
			<p>This is where you will be defining the main apstrata objects to use in your application. It is the first
			 step you should take before starting development. While this is something you could do entirely using the <a href="http://wiki.apstrata.com" target="_new" style="text-decoration:none;"><span class='highlight'>apstrata API</span></a> 
			 with your own code, we are providing the console to save you time and make your task easier as you take your first steps
			 into apstrata.</p>

	
			<div style='float:left; width: 5%;'>
				<img src='../../apstrata/resources/images/pencil-icons/left.png' width='70' style='position: relative; left: -50px;'>
			</div>
			<div style='float:left; width: 90%;'>
				<p>From the panel on the left, you can easily access the needed functions. You can  add, delete, modify, 
				export and import all object types. <span class='highlight'>As a start, we suggest you create a store, define some users
				and take it from there.</span></p>
			</div>
			<div style='clear: both;'></div>		
	
	
			<div style='float:left; width: 92%;'>
				<p>And by the way, just so you know how cool apstrata is, this entire administration application is an 
				<a href='http://en.wikipedia.org/wiki/Rich_Internet_application'>RIA</a> implemented in javascript and entirely running
				in the browser, it talks to apstrata's Rich Cloud services through the <a href="http://wiki.apstrata.com" target="_new" style="text-decoration:none;"><span class='highlight'>apstrata API</span></a>, 
				just like the applications you'll be writing.</p>
			</div>
			<div style='float:left; width: 8%;text-align: right;'>
				<img src='../../apstrata/resources/images/pencil-icons/tick.png' width='60'>
			</div>
			<div style='clear: both;'></div>		

	
			<div style='float:left; width: 8%;'>
				<img src='../../apstrata/resources/images/pencil-icons/help.png' width='60' style='position: relative; left: 0px;'>
			</div>
			<div style='float:left; width: 92%;'>
				<p>Good luck with your next killer app project, we hope you enjoy developing with apstrata's APIs as much as we do!
				And if you get any issues or need support, <a href="mailto:support@apstrata.com" style="text-decoration:none;"><u></>let us know.</u></a></p>
			</div>
			<div style='clear: both;'></div>		
		</div>	
	</div>
</div>