<div class="panel">
	{% if true %} 
	{% endif %}
	<div class="apstrataForm rounded-top-sml rounded-bottom-sml">
		<h2>Preferences</h2>
		<input type='checkbox' style='width: 15px;'>
		<span class="label">Enable Contextual Help</span>
		<br><br>
		
		<input type='checkbox' style='width: 15px;'>
		<span class="label"> Enable REST Monitor</span>
		<br><br>

		<input type='checkbox' style='width: 15px;'>
		<span class="label">Enable Toaster</span>
		<br><br><br>
		
		<div class="label">apstrata service URL:</div>
		<input type='text' value='{{ serviceUrl }}' style='width: 500px;'><br><br>

		<div class="label">apstrata call timeout:</div>
		<input type='text' width='20' style='width: 200px;'><br><br>
	</div>
</div>