<div class='panel' style='overflow-y: auto; overflow-x: hidden;'>

	<div class="apstrataForm rounded-top-sml rounded-bottom-sml" style='width: 300px;'>

		<div class="label">Query Expression:</div>
		<textarea dojoAttachPoint='txtQuery' name="query"></textarea>
	
		<div class="label">Fields:</div>
		<input type="text" dojoAttachPoint="fldFields" value="apsdb.documentKey" />
		
		<div class="label">Aggregates:</div>
		<input type="text" dojoAttachPoint="fldAggregates" value="" />
		
		<div class="label">Sorting:</div>
		<input type="text" dojoAttachPoint="fldSorting" value="" />
	
		<div class="label">Full Text Search Expression:</div>
		<input type="text" dojoAttachPoint="fldFts" value="" />
		
		<!--
		<div class="label">Run As:</div>
		<div id="userName"></div><button dojoAttachEvent='onclick: _refresh'>refresh</button>	
		-->
		<br>
		<br>
		<div style='width: 100%; text-align: right'>
			<button dojoAttachEvent='onclick: _query'>query</button>
		</div>
	</div>
</div>