<div class='panel'>
	{% if true %} 
	{% endif %}
	<div class="apstrataForm rounded-top-sml rounded-bottom-sml">
		<style>
			.dijitFileInputVisible {
			  	width: 60% !important;
			  }
			.rounded-xsml {
		    	width: 235px; !important;
			  }
		</style>
		
		<div action="" method="" dojoType="dijit.form.Form" dojoAttachPoint="frmParams" encType="multipart/form-data">
			<table>
				<tr>
					<td>
						Request Param
					</td>
					<td>
						Value
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id1"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id1"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id2"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id2"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id3"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id3"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id4"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id4"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id5"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id5"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id6"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id6"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id7"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id7"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id8"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id8"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id9"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id9"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id10"></input>
					</td>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 240px;" name="" dojoAttachPoint="id10"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id11"></input>
					</td>
					<td>
						<input type="file" dojoType="dojox.form.FileInput" style="width: 130px;" class="rounded-xsml dijitInlineTable" name="" dojoAttachPoint="id11"></input>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" dojoType="dijit.form.TextBox" style="width: 200px;" class="paramName" id="id12"></input>
					</td>
					<td>
						<input type="file" dojoType="dojox.form.FileInput" style="width: 130px;" class="rounded-xsml dijitInlineTable" name="" dojoAttachPoint="id12"></input>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div class="label">Run As:</div>
			<select dojoType="dijit.form.FilteringSelect" dojoAttachPoint="fldRunAs"  name="runAs" searchAttr="label" required="false"  class="rounded-xsml ext fdText"  > </select>
		</div>
		<br>
		<table style='font-size: small;'>
			<tr>
				<td>
					<!-- The script returns an attachment or an HTML page -->
					The script's result will open in a new panel
				</td>
				<td>
					<input type="submit" dojoAttachEvent='onclick:_runScript' value='Go' style='width: 50px;'></input>
				</td>
			</tr>
			<!-- 
			<tr>
				<td>
					The script returns a JSON string
				</td>
				<td>
					<input type="submit" dojoAttachEvent='onclick: _go' value='Go' style='width: 50px;'></input>
				</td>
			</tr>
			 -->
		</table>
		<div style='width: 100%; text-align: center'>
		</div>
	</div>
</div>