<div class='panel'>
	{% if true %} 
	{% endif %}

	<div dojoType="dijit.form.Form" class="apstrataForm rounded-top-sml rounded-bottom-sml"
		dojoAttachPoint="frmSchema" encType="multipart/form-data" action="" method="">

		<div class="label">Name:</div>
		<div class="input" type="text" dojoAttachPoint="fldName" value="" dojoType="dijit.form.ValidationTextBox"></div>

		<div class="label">Schema XML:</div>
		<textarea dojoAttachPoint='txtSchema' class='longTextarea' dojoType="dijit.form.SimpleTextarea"></textarea>

		<div style='width: 100%; text-align: right'>
			<div dojoType="dijit.form.Button" dojoAttachEvent='onClick: _save'>Save</div>
		</div>
	</div>
	
	<br>
</div>