<div class='panel'>
	{% if true %} 
	{% endif %}
	<div class="apstrataForm rounded-top-sml rounded-bottom-sml">
		<div class="label">Name:</div>
		<input type="text" dojoAttachPoint="fldName" value=""></input>

		<div class="label">Script:</div>
		<textarea dojoAttachPoint='txtScript' class='longTextarea' id='txtEditor'>
			
		</textarea>

		<br>
		<div style='width: 100%; text-align: right'>
			<input type='submit' style='width: 60px;' value="Save" dojoAttachEvent='onclick: _save'></input>
			<input type='submit' style='width: 60px;' value="Run" dojoAttachEvent='onclick: _run'></input>
		</div>
	</div>
</div>
