<div class='panel'>

	<div class="apstrataForm" style='width: 220px;'>

		<div class="label">Username:</div>
		<input type="text" dojoAttachPoint="user" value="{{ user.user }}" {% if update %} disabled='disabled' {% endif %}></input>
		
		<div class="label">Password:</div>
		<input type="password" dojoAttachPoint="password" value=""></input>

		<div class="label">Confirm Password:</div>
		<input type="password" dojoAttachPoint="password2" value=""></input>

		<div class="label">Full name:</div>
		<input type="text" dojoAttachPoint="name" value="{{ user.name }}"></input>

		<div class="label">Email:</div>
		<input type="text" dojoAttachPoint="email" value="{{ user.email }}"></input>

		<br>
		<div class='rounded-sml'>
			<div class="label">Groups:</div>
			<input type="text" dojoAttachPoint="groups" value="{{ user.groups }}"></input>
			<br>
		</div>

		<br>
		<br><br>
		<div style='width: 100%; text-align: right'>
			<button dojoAttachEvent='onclick: _save'>save</button>
			<button dojoAttachEvent='onclick: _cancel'>cancel</button>
		</div>
			<button dojoAttachEvent='onclick: _openGroups'>group</button>
	</div>
</div>