<div class='panel' style='overflow-y: auto;'>
	{% if true %}
	{% endif %}
	<style>
		.dijitArrowButtonInner {
		    height: 26px;
		}				
		.rounded-xsml {
		    width: 215px !important;
		}
	</style>
	<div dojoType="dijit.form.Form" dojoAttachPoint="saveUserForm" class="apstrataForm narrowForm" encType="multipart/form-data" action="" method="" style="width:950px;">
		
		<div class="label">Username:</div>
		<input type="text" dojoAttachPoint="user" value="" {% if update %} disabled='disabled' {% endif %} class="rounded-xsml"></input>
		
		<div class="label">Password:</div>
		<input type="password" dojoAttachPoint="password" value="" class="rounded-xsml"></input>

		<div class="label">Confirm Password:</div>
		<input type="password" dojoAttachPoint="password2" value="" class="rounded-xsml"></input>

		<div class="label">Full name:</div>
		<input type="text" dojoAttachPoint="name" value="" class="rounded-xsml"></input>

		<div class="label">Email:</div>
		<input type="text" dojoAttachPoint="email" value="" class="rounded-xsml"></input>

		<br>
		<div class='rounded-sml'>
			<div class="label">Groups:</div>
			<input type="text" dojoAttachPoint="groups" value="" class="rounded-xsml"></input>
			<br>
		</div>
		
		<div style="height:5px;"></div>
		<fieldset style="width:98%;border:1px dashed #00f;"><legend class="label">Additional Fields<button dojoAttachEvent='onClick: _addFieldLine' dojoType='dijit.form.Button'>+</button></legend>
		<div class="fields" dojoAttachPoint="fieldsList" dojoType="dijit.layout.LayoutContainer"></div>		
		</fieldset>			

		<br><br>

	</div>	
		<div style='width: 220px; text-align: right;'>
			<button dojoAttachEvent='onClick: _save' dojoType='dijit.form.Button' >save</button>
		</div>	
</div>