.apstrata .Curtain {
	position: absolute;
	background: #f5f5f5;
	opacity: 0.95;
}

.apstrata .Curtain .busyIcon {
	position: absolute;
	background-image: url("images/loading-animation-3lights.gif");
	width: 43px;
	height: 11px;
}

.apstrata .Curtain .busyMessage {
	color: #6666ff;
	margin-top: 5px;
	position: absolute;
	font-family: sans-serif;
	font-size: 0.8em;
	text-align: center;
}
