.LoginWidget {
	position: absolute;
	z-index: 6000;
}

.LoginWidget .login {
	background: #97b3d0;
	font-size: 1.7em;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 400px;

    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

	-moz-box-shadow: 0 3px 4px #000000;
	box-shadow: 0 3px 4px #000000;
	-webkit-box-shadow: 0 3px 4px #000000;
}

.LoginWidget .login h2 {
	margin-top: 0px;
}

.LoginWidget .login .dijitTextBox {
	color: #444444;
	margin-bottom: 15px;
	width: 95%;

    -o-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.LoginWidget .login .dijitButton {

	width: 50px;
	/* not working */
	margin-left: auto;
	margin-right: auto;
}

.LoginWidget .login .dijitButtonContents {
	padding: 4px;
}

.LoginWidget .login .label {
	color: #ffffff;
}


.LoginWidget .login .preferencesPanel {
	display: none;
}

.LoginWidget .login .preferencesLink {
	display: none;
	text-align: right;
}
.LoginWidget .login .preferencesLink a {
	color: #339;	
	font-size: 0.8em;
    left: -24px;
    position: relative;
    top: -27px;
}
.LoginWidget .login .preferencesLink a:visited {
	color: #339;	
}
.LoginWidget .login .preferencesLink a:hover {
	color: #339;	
}
.LoginWidget .tooltip-wrap {min-width: 290px; font-size: 12px; right: 0; top: 19px; position: absolute; display: none; border-radius: 5px; padding: 8px; color: #fff;}
.LoginWidget .tooltip {float: right; font-size: 13px; position: relative;}
.LoginWidget .tooltip a {font-size: 12px; text-decoration: none; color: #999; padding-bottom: 4px;}
.LoginWidget .tooltip a:hover .tooltip-wrap {display: block; background: rgba(0,0,0,0.75);}
.LoginWidget .tooltip .link {cursor: pointer; text-decoration: underline;}
