<div class='panel'>
	<div class='homePanel' style='font-size:1em;'>
		<h2 style='position: relative; top: -40px;'>Apstrata blue Horizon</h2>
		<p>
			Blue horizon is a demo app of the Horizon Framework. 
		</p>
		<p>
			The horizon framework provides a fluid paradigm for implementing the User Experience of
			data driven applications, by cascading application elements into sliding horizontal panels.
		</p>
		<p>
			The concept provides a more intuitive abstraction of application navigation than the traditional
			approach based on drop down menus, windows, pages and bread-crumbs.
		</p>
		<div style='clear: both;'></div>		
	</div>
</div>