html, body {
	backgro und-image: url('../images/mForms.png');
	
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	border: 0px;
	height: 100%;
	overflow: hidden;
}


.logo {
	float: left;
	width: 250px;
	padding-left: 25px;	
	padding-top: 10px;
}

.appTitle {
	float: right;	

	padding-right: 25px;
	padding-top: 23px;

	font-family: sans-serif; 
	font-size: 2em;
	color: #000099;
}

.Alert {
	background: #999999;
}

.Alert .content {
	color: white;
	font-family: sans-serif;
	font-size: .7em;
}


.logo {
	color: #111199;
	font-size: 2em;
	font-family: 'Arial Rounded MT Bold';
	font-weight: normal;
}

.homePanel {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
}

.homePanel h2 {
	font-family: sans-serif;
	font-size: 2em;
	color: #111199;
}

.homePanel p {
	font-family: sans-serif;
	font-size: 1em;
	color: #333333;
	line-height: 1.5em;
	
}

.homePanel .highlight {
	color: #ff8833;
	font-weight: bold;
}

.homePanel strong {
	color: #bb6611;
	font-weight: bold;
}

.mainList {
	width: 400px;
}

.documentation {
	font-family: sans-serif;
	color: #111111;
}

.documentation h1 {
	font-size: 2em;
}
.documentation p {
	line-height: 1.4em;
}

.documentation ul {
	line-height: 1.4em;
}



.label-sml {
	font-size: 0.8em;
}

.calendar-red {
	background: #eedede;
	padding: 5px;
}

.calendar-green {
	background: #deeede;
	padding: 5px;
}

.campaignEmbedCodeDiv {
    padding: 2px;
    width: 500px;

    margin-top: 5px;
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 0px;
    border: none;
    font-family: sans-serif;
    font-size:  small;
	color:blue;
    padding-bottom: 7px;
    padding-left: 15px;
    overflow: visible;
    
    -o-border-radius: 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 7px #adadad;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}