<div style="">
	<div>
	    <div style="float: right;" class="breadCrumbs">${breadCrumbs}</div>
	    <br/>
	    <div style="float: left;"><span class="title" dojoType="dijit.InlineEditBox" dojoAttachPoint="fldTitle">${title}</span></div>
	    <div style="clear:both;"></div>
	    <br />
	</div>                    
	<div>
	    <textarea dojoType="dijit.Editor" dojoAttachPoint="fldEditor" styleSheets="dojoroot/dojo/resources/dojo.css" activeSizing="true" height="350px" >
		${contents}<br>
		${dockey}<br>
		${atRoot}
	    </textarea>
	</div>
	<div>
	    <br/>
	    <div style="float: left;">tags: <input type="text" size="150" dojoType="dijit.form.TextBox" dojoAttachPoint="fldTags" value="${tags}" /></div>
	    <div style="float: right;"><input type="button" value="save" />&nbsp;<input type="button" value="cancel" /></div>
	    <div style="clear: both"><br /></div>
	</div>                    
</div>