	.label {color: black;}
	.success {color: green;}
	.failure {color: red;}
	
	.operation {
		width: 100%;
		margin-bottom: 2px;
		padding: 1px;
		background-color: #dedede
	}

	.cell {
		display: inline-block;
		width: 150px;
	}
