<div class="fieldEditor">
	<div dojoAttachPoint="removeIcon" class="fieldEditorRow" style="width: 99%;" id="button"><img src="images/x.png" align="right" /></div>
	<table width="100%">
		<tr>
			<td>
				<div class="fieldEditorRow">
				    <h3>Title</h3>
				    <input type="text" name="field" size="30" width="10" dojoAttachPoint="fieldName" />
				</div>
			</td>
			<td>
				<div class="fieldEditorRow">
				    <h3>Mandatory</h3>
				    <input checked="checked" value="on" type="checkbox" dojoAttachPoint="isMandatory" />
				</div>
			</td>
		</tr>
	</table>
	<table width="100%">
		<tr>
			<td>
				<div class="fieldEditorRow">
					<h3>Type</h3>
					<select dojoAttachPoint="fieldType">
						<option>Text</option>
						<option>Numeric</option>
						<option>List</option>
						<option>Comment</option>            
					</select>
				</div>
			</td>
			<td>
				<div class="fieldEditorRow" style="display: none;" dojoAttachPoint="listOptions">
					<h3>Values (comma separated)</h3>
					<input type="text" name="options" />
				</div>
			</td>
		</tr>
	</table>
</div>
