<div class="fieldEditor" id="${rowName}_container">
    <div dojoType="dijit.layout.ContentPane" class="fieldEditorRow" style="width: 99%;"><img src="images/x.png" align="right" />
	<script type="dojo/method" event="onClick" args="e">
	    dojo.query("#${rowName}_container").orphan();
	</script>
    </div>
    <div class="fieldEditorRow">
	<div style="float: left; width: 50%;">
	    <h3>Title</h3>
	    <input type="text" name="field" dojoType="dijit.form.ValidationTextBox"
		    trim="true" propercase="true" required="true" size="30" width="10" missingMessage="you must enter field" />
	</div>
	<div style="float: left; width: 50%;">
	    <h3>Mandatory</h3>
	    <input dojotype="dijit.form.CheckBox" name="mandatory" checked="checked" value="on" type="checkbox" />
	</div>
    </div>
    <div class="fieldEditorRow">
	<div style="float: left; width: 50%;">
	    <h3>Type</h3>
	    <select name="type" dojoType="dijit.form.ComboBox" autocomplete="false" value="Text" required="true">
		<option>Text</option>
		<option>Numeric</option>
		<option>List</option>
		<option>Comment</option>            
		    <script type="dojo/method" event="onChange" args="newFile">
			console.dir(["${rowName}"])
			if (newFile=="List") {
			    dojo.byId('${rowName}').style.display="";
			} else {
			    dojo.byId('${rowName}').style.display="none";                                    
			}
		    </script> 
	    </select>
	</div>
	<div id="${rowName}" style="float: left; width: 50%; display: none;">
	    <h3>Values (comma separated)</h3>
	    <input type="text" name="options" dojoType="dijit.form.ValidationTextBox"
		 trim="true" required="true" missingMessage="you must enter choices." />
	</div>
    </div>
</div>