<div class='panel'>
	<div class='homePanel' style='font-size:1.2em;'>
		<h2 style='position: relative; top: -40px;'>apstrata mForms
		<img src='../../apstrata/resources/images/pencil-icons/survey.png' width='70' style='position: relative; top: 20px; left: 10px;'>
		</h2>

		<div style='position: relative; top: -40px;'>
			<p>
				<strong>Welcome to apstrata mForms, the real-time Data Collection and Market Intelligence platform.</strong>
			</p>
			<p>
				Apstrata <strong>mForms</strong> makes collecting <b>real-time data</b> from any target audience amazingly simple. 
				Our forms can be pushed to <b>mobile phones</b> and through <b>websites</b>, <b>social-networks</b> and <b>email</b>.
				Campaign results arriving from all channels are consolidated in real-time into a single database. 
			</p>
			<p>
				The progress of the data-collection campaign can be monitored by looking at the <b>real-time graphs</b> provided in this
				application or by <b>extracting the data</b> to slice and dice in your favourite analysis tool.
			</p>
			
			<div style='float:left; width: 5%;'>
				<img src='../../apstrata/resources/images/pencil-icons/left.png' width='70' style='position: relative; left: -50px;'>
			</div>
			<div style='float:left; width: 90%;position: relative; top: 5px;'>
				<p>
					Select an option from the left to create a new form, to launch a data-collection campaign 
					or to monitor and extract your data.
				</p>
			</div>
			<div style='clear: both;'></div>		
			<br>
			<div style='float:left; width: 5%;'>
				<img src='../../apstrata/resources/images/pencil-icons/help.png' width='60' style='position: relative; left: -40px;'>
			</div>
			<div style='float:left; width: 92%;'>
				<p>Good luck with your next campaign, we hope you enjoy using <strong>mForms</strong>! And if you have any issues or need support, 
				<a href='mailto:mFormsSupport@apstrata.com'>please let us know</a>.</p>
			</div>
			<div style='clear: both;'></div>		
		</div>	
	</div>
</div>