<div class='panel' style='overflow-y: auto;'>
	{% if true %} 
	{% endif %}
	<div dojoType="dijit.form.Form" class="apstrataForm rounded-top-sml rounded-bottom-sml"
		dojoAttachPoint="schedule" encType="multipart/form-data" action="" method="">

			<div class="title" style="font-size: 18pt;">
				Schedule Campaign
			</div>
				<br>
			<div>
	                <div class="label">Campaign Name:</div>
	                <input class="rounded-xsml" type="text" style="width: 350px"
						name='campaignName'
						{% if update %} disabled='disabled' {% endif %}
						required="true" dojoType="dijit.form.ValidationTextBox"/><br>

	                <div class="label">Pick a target group:</div>
					<div class="rounded-xsml" dojoAttachPoint='dvSelectTarget'></div>

	                <div class="label">Pick a form:</div>
					<div class="rounded-xsml" dojoAttachPoint='dvSelectForm'></div>

	                <div class="label">Invitation Text sent by SMS:</div>
	                <input class="rounded-xsml" type="text" style="width: 350px; height: 50px;"
						name='sms'
						required="true" dojoType="dijit.form.SimpleTextarea"/><br>
	
	                <div class="label">Invitation Text sent by Email:</div>
					<div style="background: #ffffff;">
					    <textarea rows='3' style="height: 100px;width: 200px;"
							dojoType="dijit.Editor"
							name='email'
							extraPlugins="['foreColor','hiliteColor',{name:'dijit._editor.plugins.FontChoice', command:'fontName', generic:true}]" 
							dojoAttachPoint="edtrPost"></textarea>
					</div>

				<!-- Campaign Schedule -->
				<div class="label">Start</div>
				<table class='rounded-sml calendar-green'>
					<tr>
						<td colspan="2">
						</td>
					</tr>
					<tr>
						<td>
							<div class="label-sml">Date</div>
							<input class="rounded-xsml" type="text" 
							name="startDate" 
							dojoType="dijit.form.DateTextBox" 
							required="true" />
						</td>
						<td>
							<div class="label-sml">Time</div>
							<input class="rounded-xsml" type="text" 
							name="startTime" value="T12:00:00" 
							dojoType="dijit.form.TimeTextBox" 
							required="false" />
						</td>
					</tr>
				</table>

				<div class="label">End</div>
				<table class='rounded-sml calendar-red'>
					<tr>
						<td colspan="2">
						</td>
					</tr>
					<tr>
						<td>
							<div class="label-sml">Date</div>
							<input class="rounded-xsml" type="text" name="endDate" dojoType="dijit.form.DateTextBox" required="true" />
						</td>
						<td>
							<div class="label-sml">Time</div>
							<input class="rounded-xsml" type="text" name="endTime" value="T12:00:00" dojoType="dijit.form.TimeTextBox" required="false" />
						</td>
					</tr>
				</table>
<!--
                <div class="label">Hours before campaign end to stop broadcast:</div>
                <input class="rounded-xsml" type="text" 
					required="true" dojoType="dijit.form.ValidationTextBox"/><br>
-->

					<!-- div dojoType="dojox.widget.Calendar" id="cal">
						<script type="dojo/connect" event="onValueSelected" args="value">
							console.debug("Date Value selected: " + value);
						</script>
					</div -->


			</div>
			<br><br>
		<div>
			<button dojoType="dijit.form.Button" dojoAttachEvent="onClick: save">
				{% if update %} Save {% else %} Launch {% endif %}			
			</button>
		</div>
	</div>
	
</div>
