<div class='panel' style='width: 465px; overflow-y: auto;'>
	{% if true %} 
	{% endif %}
	
	<div class="apstrataForm" style='width: 220px;'>

		<div dojoType="dijit.form.Form" class="apstrataForm rounded-top-sml rounded-bottom-sml"
			dojoAttachPoint="targetForm" encType="multipart/form-data" action="" method="">
	
			<div class="label">Target:</div>
			<input type="text"
				name="targetName" 
				maxLength="120"
				regExp="[0-9A-Za-z-_. ]{1,120}"
				dojoAttachPoint="target" 
				style='width: 310px;' 
				value="{{ target }}" {% if update %} readonly="readonly" {% endif %}
				required="true" invalidMessage="Target name is invalid, eg. target_2009-09-14.v2(max 120 chars)" dojoType="dijit.form.ValidationTextBox"></input>
			
			<div class="label">Description:</div>
			<input type="text"
				name="targetDescription" 
				dojoAttachPoint="description" 
				style='width: 310px;' 
				 {% if description %} value="{{ description }}" {% endif %}></input>
			
			<br><br>
	        <div class="label">Import CSV:</div>
	        <input 
				name="membersCSV" 
				dojoAttachPoint="membersCSV"
				dojoType="dojox.form.FileInput"
				style='width: 144px;' 
				class="rounded-xsml" /><br>
			<br>
			<div dojoAttachPoint="warningMessage" class="warningMessage" style="width: 350px; margin: -12px 2px 0px 2px;"></div>
			<br />
		</div>

		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick: _save'>Save</button>
		<button dojoType='dijit.form.Button' dojoAttachEvent='onClick: _cancel'>Cancel</button>
	</div>
</div>