<div>
        <div dojoType="dijit.Dialog" dojoAttachPoint="dlgWait" style="text-align: left;">
        <!--
            <table  style="background-color: #CCCCFF;" >
                <tr>
                    <td valign="bottom">
                        <span style="font-size:1em; color: #000099;">talking to</span><br><br><br><br>
                        <!--img src="images/apstrata-sml.png" height="20px" /-->
                    </td>
                    <td valign="middle">
                        &nbsp;&nbsp;&nbsp;&nbsp;<img src="../apstrata/images/apstrata-clouds.gif" />
                    </td>
                </tr>
            </table>
        -->        
                <div style="background-image: url('../apstrata/images/apstrata-clouds.gif'); background-repeat: no-repeat; width: 150px; height: 150px;">
                        <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="padding:4px; font-size:1.2em; color: #0000EE; background-color: #FFFFFF; filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;">&nbsp;talking to&nbsp;</span><br><br><br><br>
                </div>
        </div>
</div>