<div>
        <div dojoType="dijit.Dialog" dojoAttachPoint="dlgLogin" title="Login">
          <table>
            <tr>
              <td colspan="2"><div dojoAttachPoint="spnMessage" style="font-size:0.9em; color: #BB0000;"></div></td>
            </tr>
                
            <tr>
              <td>Service URL:</td>
              <td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fldServiceUrl" value="${serviceUrl}"></td>
            </tr>

            <tr>
              <td>Default Store:</td>
              <td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fldStore" value="${store}"></td>
            </tr>

            <tr>
              <td colspan="2"><br><hr></td>
            </tr>

            <tr>
              <td>Customer ID:</td>
              <td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fldKey" value="${key}"></td>
            </tr>
            <tr>
              <td>Customer Secret:</td>
              <td><input dojoType="dijit.form.TextBox" type="password" dojoAttachPoint="fldSecret" value="${secret}"></td>
            </tr>

            <tr>
              <td colspan="2"><br><hr></td>
            </tr>

            <tr>
              <td>User Name:</td>
              <td><input dojoType="dijit.form.TextBox" type="text" dojoAttachPoint="fldUser"></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input dojoType="dijit.form.TextBox" type="password" dojoAttachPoint="fldPassword"></td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <button dojoAttachPoint="btnLogin" type="submit">OK</button>
                <button dojoAttachPoint="btnCancel" type="submit">Cancel</button>
              </td>
            </tr>
          </table>
        </div>        
</div>