<div class='panel grid'>
	<div dojoAttachPoint='dvHeader'></div>
	<div dojoAttachPoint='dvContent' style="width:100%;"></div> 
	<div dojoAttachPoint='dvFooter' style='width: 100%;text-align: center;overflow: hidden;'>
		<div style='height: 2px;'></div>
		{% if editable %} 
		<div dojoType='dijit.form.Button' dojoAttachEvent='onClick: deleteItems' dojoAttachPoint='_btnDelete' type="button">Delete</div>
		<div dojoType='dijit.form.Button' dojoAttachEvent='onClick: editItems' dojoAttachPoint='_btnEdit' type="button">Edit</div>
		<div dojoType='dijit.form.Button' dojoAttachEvent='onClick: newItem' dojoAttachPoint='_btnNew' type="button">New</div>
		{% endif %}
	</div>
</div>