<div class="panel">
	{% if true %} 
	{% endif %}
	<div class="apstrataForm rounded-top-sml rounded-bottom-sml">
		<h2>Preferences</h2>
		
		<div class="label">apstrata service URL:</div>
		<input type='text' value='{{ serviceUrl }}' style='width: 500px;' 
			dojoAttachPoint="fldServiceUrl" >
			
		<br><br>

		<div class="label">apstrata call timeout:</div>
        <div dojoType="dijit.form.HorizontalSlider" value="1" dojoAttachPoint="sldTimeout" 
        minimum="0" maximum="5" discreteValues="6" intermediateChanges="true"
        showButtons="false" class="sliders" style='width: 500px;position: relative; top: 5px;'>
            <ol dojoType="dijit.form.HorizontalRuleLabels" container="bottomDecoration"
            class="sliderLabels" style='font-size: 0.8em; color: #444444; position: relative; top: 5px;'>
                <li>5&nbsp;s</li>
				<li>10&nbsp;s</li> <li>20&nbsp;s</li>
				<li>30&nbsp;s</li> <li>1&nbsp;min</li>
				<li>2&nbsp;mins</li>
            </ol>
        </div>
        
        <br><br>
        
        <div dojoType='dijit.form.Button' style='font-size: 0.8em; color: #0000AA'
			dojoAttachPoint="chkHelp" dojoAttachEvent="onClick: savePreferences">Save</div>

	</div>
</div>