{% if _accounts.length > 0 %}
<div class="table-design" style="width:643px;">    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Your accounts</th>
        <th>secrets</th>
        <th>&nbsp;</th>
      </tr>  
      {% for account in _accounts %}
      <tr>
        <td><a href="#">{{account.aps_authKey}}</a></td>
        <td>
            <a href='#' data-key='{{ account.aps_authKey }}' dojoAttachEvent='onclick: _view'>View Secret</a><span class="separator">|</span>
            <a href='#' data-key='{{ account.aps_authKey }}' dojoAttachEvent='onclick: _reset'>Reset Secret</a>
        </td>
        <td><a href="">manage account</a></td>
        {% endfor %}
      </tr>	   
    </table>    
</div>
{% else %}
<div class="loading">
<img src="themes/touch/images/loading.gif" />
</div>
{% endif %}

