body {
	background-image: url("resources/old_mathematics.png");
    background-repeat: repeat;	
}

.apstrataCms {
	font-family: sans-serif;
	font-size: .9em;
}

.apstrataCms .apstrataLogo {
	background-image: url("resources/apstrata-big.png");
			float: left;
			background: url('resources/apstrata-big.png');
			width: 211px;
			height: 51px;
			background-size: 100% 100%;
			margin-left: 15px;
			position: relative;
}

.apstrataCms .appTitle {
	font-size: 2em;
	color: #11B;
	position: relative;
	top: 10px;
	float: right;
}

.apstrataCms .panel {
/*	margin-left: 4px; */
}

.apstrataCms .mainPanel {
/*	margin-left: 0px; */
}

.apstrataCms .pagesList {
	width: 300px;
}

.apstrataCms .linksList {
	width: 300px;
}

.apstrataCms .collectionsList {
	width: 300px;
}

.apstrataCms .collectionEditor {
	width: 800px;
	font-size: 0.8em;
	overflow-y: hidden;
	overflow-x: auto;
}

.apstrataCms .collectionEditor .header {
	height: 20px;
}


.apstrataCms .collectionEditor .title {
	width: 100%;
}

.apstrataCms .collectionEditor .firstQuery {
	width: 100%;	
}

.apstrataCms .collectionEditor .secondQuery {
	width: 100%;	
}

.apstrataCms .collectionEditor .footer {
	height: 10px;
}

.apstrataCms .collectionEditor .title {
	width: 100%;
}


.apstrataCms .pageEditor {
	width: 800px;
	font-size: 0.8em;
	overflow-y: hidden;
	overflow-x: auto;
}

.apstrataCms .pageEditor .header {
	height: 20px;
}

.apstrataCms .pageEditor .title {
	width: 100%;
}

.apstrataCms .pageEditor .footer {
	height: 10px;
}

.apstrataCms .pageEditor .title {
	width: 100%;
}
.apstrataCms .menuEditor {
	width: 300px;
		
}

.apstrataCms .menuEditor .footer {
	height: 20px;
}

.apstrataCms .menuEditor .footer {
	height: 10px;
}


.apstrataCms .homePageEditor {
	width: 99%;
}

.apstrataCms .homePageEditor .dijitTextArea {
	max-height: 1000px !important;
	height: 350px !important;
}

/*
.apstrataCms .pageEditor .pageId-label {
	color: blue;
}

.apstrataCms .pageEditor .pageId {
	width: 230px;
}

.apstrataCms .pageEditor .title-label {
	color: blue;
	left: 238px;
	top: -45px;
	position: relative;
}

.apstrataCms .pageEditor .title {
	width: 520px;
	left: 238px;
	top: -45px;
	position: relative;
}
*/