.ConsoleOutput {
	background: #dedede;
	position: absolute;
	opacity: .95;
	visibility: hidden;
	z-index: 4000;
	border: solid 1px #cecece;
}

.ConsoleOutput .output {
	width: 1000px;
	height: 400px;
	color: white;
	padding: 10px;

	overflow-y: auto;
	overflow-x: hidden;
}

.ConsoleOutput .title {
	text-align: center; 
	color: #222222;
	background: #dedede;
	font-family: sans-serif;
	font-size: 0.8em;
	padding: 3px;
	font-weight: bold;
}

.ConsoleOutput .request {
	
}

.response {
	background: '#99ff66'; 
	color: '#222222';
	fontFamily: 'monospace'; 
	padding: '4px';
	marginBottom: '4px';
}

.ConsoleOutput .failure {
	
}
