/* DocViewer */
.min .curtain {
	position: fixed;
	background: #444;
	opacity: .3;
	z-index: 60;
}


.min .DocViewer {
	display: table;
	
	background: white;
	border: 1px solid #777;
	
	position: fixed;
	overflow: hidden;
	
    -o-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.5);

	padding: 10px;

	z-index: 61;
}

.min .DocViewerContent {
	display: table-row;
	width: 100%;
}


.min .DocViewer .previous {
	display: table-cell;
	width: 45px;
	background: url('resources/leftarrow-grey.png');
	background-repeat: no-repeat;
	background-position: center;
}

.min .DocViewer .disabledNavigation {
	display: table-cell;
	width: 45px;
	background: none !important;
}

.min .DocViewer .next {
	display: table-cell;
	width: 45px;
	background: url('resources/rightarrow-grey.png');
	background-repeat: no-repeat;
	background-position: center;
}


.min .DocViewerContent .previous:hover {
	background: url('resources/leftarrow-black.png');
	background-repeat: no-repeat;
	background-position: center;
}

.min .DocViewerContent .next:hover {
	background: url('resources/rightarrow-black.png');
	background-repeat: no-repeat;
	background-position: center;
}


.min .DocViewer .content {
	display: table-cell;
}

	.min .DocViewer .innerContent {
		display: table;
		height: 100%;
		width: 100%;
	}
	.min .DocViewer .content .top {
		display: table-row;
		height: 50px;
	}
		.min .DocViewer .content .top .type {
			position: relative;
			top: -7px;
			display: inline-block;
			font-size: 1.2em;
			color: #fff;
			background: #f6b374;
			padding: 7px;
			opacity: .9;
			width: 114px;
			text-align: center;
						
			font-weight: bold;
					
			padding: 3px;
		    -o-border-radius: 3px;
		    -moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius: 3px;
		}
		.min .DocViewer .content .top .label {
			font-size: 3em;
			display: inline-block;
			margin-left: 20px;
		}

	.min .DocViewer .content .middle {
		display: table-row;
	}
		.min .DocViewer .content .middle img {
		}
		.min .DocViewer .content .middle .description {
			font-size: 1.2em;
			margin-left: 10px;
			overflow-y: auto; overflow-x: hidden;
			height: 300px;
		}
		.min .DocViewer .content .middle .description p {
			margin-bottom: 0em;
			margin-top: 1.2em;
		}
			
	.min .DocViewer .content .bottom {
		display: table-row;
		height: 50px;
		text-align: right;
	}
