

.min {
	font-family: Tahoma, Geneva, sans-serif;
	background: #fafaff;

	background-image: url('resources/paper.png');
	background-repeat: repeat;
}

.min .sideButton {
	position: fixed;
	top: 140px;
	left: -100px;
	background: #dedede;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	
	font-weight: bold;
	
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	-moz-transform: rotate(-90deg); /* Firefox */

	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;

	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;

	z-index: 50;
}

	.min .sideButton a {
		font-style: normal;
		text-decoration: none;
		color: #333;
	}
	
	.min .sideButton a:hover {
		color: #33A;
	}

.min .contentFrame {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.min .clear {
	clear: both;
}
	
/* body */
.min #content {
	position: relative;
	top: 50px;
	z-index: 10;
}

/* common */
	.min .button {
		display: inline-block;
		text-align: center;
		margin: 2px;
		background: #003080;
		cursor:pointer;
		
		font-family: 'Montserrat', sans-serif;
		font-size: 1.3em;
		font-weight: bold;
		text-decoration: none;
		color: #eee;		
		
		padding: 10px;
		margin-bottom: 5px;
		
	    -o-border-radius: 10px;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}

	.min .button:hover {
		background: #0030FF;
	}

	.min .callToAction {
background: rgb(202,4,4); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMSUiIHN0b3AtY29sb3I9IiNjYTA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiM3OTAzMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(202,4,4,1) 11%, rgba(121,3,3,1) 68%); /* FF3.6+ */
background: -webkit-gradient(linear,lefttop, leftbottom, color-stop(11%,rgba(202,4,4,1)),color-stop(68%,rgba(121,3,3,1)));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(202,4,4,1) 11%,rgba(121,3,3,1) 68%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(202,4,4,1) 11%,rgba(121,3,3,1) 68%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(202,4,4,1) 11%,rgba(121,3,3,1) 68%); /* IE10+ */
background: linear-gradient(top,  rgba(202,4,4,1) 11%,rgba(121,3,3,1) 68%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca0404', endColorstr='#790303',GradientType=0 ); /* IE6-8 */
	}

	.min .callToAction:hover {
		background: #990000;
	}

	.min .smallButton {
		display: inline-block;
		text-align: center;
		margin: 2px;
		background: #003080;
		cursor:pointer;
		
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2em;
		font-weight: bolder;
		text-decoration: none;
		color: #eee;		
		
		padding: 5px;
		margin-bottom: 2px;
		
	    -o-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	}

	.min .smallButton:hover {
		background: #0030FF;
	}


.min .waitAnimation {
	background: url('resources/loading-animation-3lights.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.facebookLikeButton {
	position: relative;
	top: 5px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash2/47850_437617674886_119341934886_4817206_1531554_n.jpg');
	background-repeat: no-repeat;
	background-position: center;
}


/*** Social Bookmarks ***/
.social-bookmarks {float: left; width: 284px; padding: 0; margin: 6px 0 0;}
.social-bookmarks li {float: left; margin: 0; padding: 0!important; list-style-type: none;}
