/* header */

.min #header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 65px;
	z-index: 50;
}

	.min #header-inner {
		/* border-bottom: 1px solid #a7c7de; */
		height: 65px;
		background:  #0b1c32;  /* 0b1c32 da0202 color scheme #da5a07; */
		opacity: .9;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
		border-bottom-left-radius: 10px;
	
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;

		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.7);
	}
		.min #logo {
			float: left;
			background: url('resources/apstrata-big-white.png');
			width: 211px;
			height: 51px;
			background-size: 100% 100%;
			margin-left: 15px;
			top: 6px;
			position: relative;
		}

		.min #logoText {
			font-family: "Arial Rounded MT Bold";
			font-size: 2.8em;
			text-decoration: none;
			color: #000f69;
			float: left;
			width: 211px;
			height: 51px;
			margin-left: 15px;
			top: 6px;
			position: relative;
		}
		
		.min #menu {
			float: right;
			padding-top: 21px;
			font-family: 'Montserrat', sans-serif;
		}
			.min #menu .menu-item {
				display: inline-block;
			}
			.min #menu .menu-item a {
				color: #fff;
				font-size: 1.6em;
				font-weight: normal;
				padding-left: 20px;
				padding-right: 20px;
				cursor:pointer;
				text-decoration: none;
			}
			.min #menu .menu-item a:hover {
				color: #66f;
			}
			.min #menu .menu-item .selected {
				color: #66f;
			}
