/* header */

.min #header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 65px;
	z-index: 50;
}

	.min #header-inner {
		/* border-bottom: 1px solid #a7c7de; */
		height: 65px;
		background:  #0b1c32;  /* 0b1c32 da0202 color scheme #da5a07; */

background: rgb(63,76,107); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMSUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiMwYjFjMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(63,76,107,1) 11%, rgba(11,28,50,1) 68%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(63,76,107,1)), color-stop(68%,rgba(11,28,50,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 11%,rgba(11,28,50,1) 68%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,76,107,1) 11%,rgba(11,28,50,1) 68%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,76,107,1) 11%,rgba(11,28,50,1) 68%); /* IE10+ */
background: linear-gradient(top,  rgba(63,76,107,1) 11%,rgba(11,28,50,1) 68%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#0b1c32',GradientType=0 ); /* IE6-8 */
		

		opacity: .9;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
		border-bottom-left-radius: 10px;
	
		-moz-border-radius-bottomright: 10px;
		-webkit-border-bottom-right-radius: 10px;
		border-bottom-right-radius: 10px;

		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.7);
	}
		.min #logo {
			float: left;
			background: url('resources/apstrata-big-white.png');
			width: 211px;
			height: 51px;
			background-size: 100% 100%;
			margin-left: 15px;
			top: 6px;
			position: relative;
		}

		.min #logoText {
			font-family: "Arial Rounded MT Bold";
			font-size: 2.8em;
			text-decoration: none;
			color: #000f69;
			float: left;
			width: 211px;
			height: 51px;
			margin-left: 15px;
			top: 6px;
			position: relative;
		}
		
		.min #menu {
			float: right;
			padding-top: 21px;
			font-family: 'Montserrat', sans-serif;
		}
			.min #menu .menu-item {
				display: inline-block;
			}
			.min #menu .menu-item a {
				color: #fff;
				font-size: 1.6em;
				font-weight: normal;
				padding-left: 20px;
				padding-right: 20px;
				cursor:pointer;
				text-decoration: none;
			}
			.min #menu .menu-item a:hover {
				color: #66f;
			}
			.min #menu .menu-item .selected {
				color: #66f;
			}
