.min .page {
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 35px;
	
	color: #444455;
	
	font-family: 'Open Sans', "Helvetica Neue",Helvetica; 
	
	font-size: 1.2em;	
}

.min .page h2 {
	font-size: 2.4em;
	letter-spacing: 1px;
	color: #444466;
}

.min .page h3 {
	font-size: 1.4em;
	letter-spacing: 1px;
	margin-top: 1em;
	margin-bottom: 0px;
	color: #444466;
}

.min .page p {
	font-size: 1.2em;  
	line-height: 2em;
	margin-bottom: 0.5em;
	margin-top: 0px;
}

.min .page ul {
	margin-top: 0px;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.min .homePage {
	
}

.min .catalogPage .title {
	margin-top: 10px;
	font-size: 1.4em;
}

.min .catalogPage .itemDescription {
	margin-top: 10px;
	margin-bottom: 10px;
}

.min .catalogPage .pageDescription {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #3333EE;
}


.min .catalogPage .slides {
	font-size: 0.8em;
	overflow: hidden;
	background: #aaa;
	padding: 15px;
}

.min .catalogPage .slides .slide {
	float: left;
	width: 25%;
	overflow: hidden;
}

.min .catalogPage .slides .title {
	margin-top: 10px;
	font-size: 1.4em;
	overflow: hidden;
	width: 90%;
}

.min .catalogPage .slides .itemDescription {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 90%;
}

.min .catalogPage .slides .pageDescription {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #3333EE;
}


