<div>
	<div dojoAttachPoint="roundedBox survey" class="survey">
		<div dojoAttachPoint="btnEdit" style="color: blue;">run</div>
		<h2 dojoAttachPoint="title" dojoType="dijit.InlineEditBox">Type the survey title here</h2>
		<h3 dojoAttachPoint="description" dojoType="dijit.InlineEditBox">you can place the survey description here.</h3>
		<div dojoAttachPoint="questions"  dojoType="dijit.layout.LayoutContainer" class="questionsPanel"></div>
	</div>

	<br/><br/>
	<a href="#" dojoAttachPoint="btnGetData">Get Data Model</a>
	<div dojoAttachPoint="output" class="surveyFieldEditor" style="display: none; width:100%; color: blue;"></div>
</div>
