<div>{% if true %}{% endif %}
<input dojoType="dijit.form.SimpleTextarea" dojoAttachPoint="readView" class="dijitTextBox" style="width:100%"/>
<div dojoType="dijit.Dialog" title="Select/Unselect pages" dojoAttachPoint="dialog">
	<div dojoAttachPoint="pageSelectorRoot">
	 
	</div> 
	<div style="margin:auto;">
		<input type="button" dojoAttachPoint="confirmSelection" value="Confirm" />
		<input type="button" dojoAttachPoint="cancelSelection" value="Cancel"  style="margin:auto;"/>
	</div>
</div>
</div>