<div>{{ }}
	<div dojoAttachPoint='dvHeader'></div>
	<div dojoAttachPoint="dvForm" dojoType="dijit.form.Form">
		<div dojoAttachPoint='dvContent' >
	    	<div class="title"><span>Application Details</span></div>    	
				<ul> 
					<li>
				          <label>Application Id : </label>
				          	<span dojoAttachPoint="applicationID"  dojoType="dijit.form.ValidationTextBox" required="true" readOnly="true"></span>
	                 </li> 
	                 <li>
				          <label>Password :
				          <span dojoAttachPoint="password" dojoType="dijit.form.ValidationTextBox" required="true" readOnly="true"></span>
	                 </li> 
	                 <li>
				          <label>Certificate : </label>
				          <span dojoAttachPoint="certificate"></span>
				          <span dojoAttachPoint="certificateFile" name="apsdb_attachments" dojoType="dojox.form.FileInput" readOnly="true" style="visibility:hidden"></span>	         
	                 </li>                
				</ul>
				<div dojoAttachPoint="gridDiv" style='height:200px;width:100%;overflow: auto'></div>
				<span dojoType="dijit.form.Button" dojoAttachPoint="editApplicationButton" label="Edit Application"></span>
					<span dojoType="dijit.form.Button" dojoAttachPoint="addChannelButton" label="+" style="visibility:hidden"></span>
					<span dojoType="dijit.form.Button" dojoAttachPoint="removeChannelButton" label="-" style="visibility:hidden"></span>			
					<span dojoType="dijit.form.Button" dojoAttachPoint="saveChangesButton" label="Save" style="visibility:hidden"></span>
					<span dojoType="dijit.form.Button" dojoAttachPoint="cancelChangesButton" label="Cancel" style="visibility:hidden"></span>
		</div>
	</div>
	<div dojoAttachPoint='dvFooter'></div>
</div>