<div class="dojoDndItem">
	<div dojoAttachPoint="surveyField" class="roundedBox surveryField">
		<span title="Drag and drop your question" dojoAttachPoint="handle"  class="dojoDndHandle" >&nbsp;&nbsp;</span>
		<span dojoAttachPoint="checkBoxValue" style="display: none;"></span>
		<span title="Click here to edit your question" dojoType="dijit.InlineEditBox" editor="dijit.form.ValidationTextBox" editorParams="{required:true,invalidMessage:'Required'}" dojoAttachPoint="fldTitle" >${title}</span>
		<span dojoAttachPoint="spnValue" style="display: none;"><br/><input dojoType="dijit.form.ValidationTextBox" trim=true required="false" invalidMessage="Required." dojoAttachPoint="fldValue"  name=""></span>

		<div dojoAttachPoint="editor" class="surveyFieldEditor" style="display: none;">
			<div>Mandatory:&nbsp;</div><input type="checkbox" dojoAttachPoint="chkMandatory" /><br />
			<div style="display:none;">Field Name:&nbsp;</div><span dojoAttachPoint="fldName2" style="display:none;" ><input dojoAttachPoint="fldName" type="text" value="" /></span>
			<div style="padding-bottom: 5px;">Type:<br/>
			<select dojoAttachPoint="lstType" /><option value="text">text</option><option value="checkbox">checkbox</option><option value="list">list</option><option value="radio button">radio button</option><option value="multiple choice">multiple choice</option><option value="text area">text area</option></select><br/></div>
			<div dojoAttachPoint="divChoices" style="display: none;">choices (comma separated):&nbsp;<br/>
			<textarea dojoAttachPoint="txtChoices" rows="3" cols="20">choice1, choice2, choice3</textarea></div>
			<div><br /></div>
			<div>
				<input dojoAttachPoint="btnSave" type="button" value="save" />&nbsp;
				<input dojoAttachPoint="btnDelete" type="button" value="delete" />&nbsp;
				<input dojoAttachPoint="btnCancel" type="button" value="cancel" />
			</div>
		</div>
	</div>
	<div style="background-color:;height: 2px"></div>
</div>