<div>
    <div dojoType="dijit.Dialog" dojoAttachPoint="dlgUserDetails" title="User Details">
        <table>
            <tr>
                <td colspan="2">
                    <div dojoAttachPoint="spnMessage" style="font-size:0.8em; color: #BB0000; background-color: #CDCDCD; padding: 4px;">
                    </div>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    User details:
                </td>
                <td>
                    <textarea cols="70" rows="20" dojoAttachPoint="fldUserDetails">
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
